<h1>Vaaralliset toiminnot</h1>

<h2>Ehdokasasettelu</h2>

<ul>
  <li><%= link_to 'Luo asiamiehille tunnukset', create_advocates_admin_electoral_alliances_path %></li>
<% if Email.count == 0 -%>
  <li><%= link_to 'Luo ehdokkaille lähetettävä sähköposti', new_admin_email_path%></li>
<% else -%>
  <li><%= link_to 'Lähetä ehdokkaille sähköpostia', admin_email_path(Email.first.id)%> (Paina <q>Lähetä sähköposti ehdokkaille</q> -nappia)</li>
<% end -%>
</ul>

<h3>Numerointi</h3>

<ul>
  <li><%= link_to 'Järjestä vaalirenkaat', admin_electoral_coalitions_path %> (Sivun oikea reuna)</li>
  <li><%= link_to 'Anna ehdokkaille numerot', give_numbers_admin_candidates_path %></li>
</ul>
