<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();

    data.addRows(1);

    <% index_displayed_alliances = 0 %>
    <% result.alliance_results.by_vote_sum.each do |alliance_result| -%>
      <% elected_count = result.elected_candidates_in_alliance(alliance_result).count -%>

      <% if elected_count > 0 -%>
        data.addColumn('number', '<%= alliance_result.electoral_alliance.shorten -%>');
        data.setValue(0, <%= index_displayed_alliances -%>, <%= elected_count -%>);
        <% index_displayed_alliances = index_displayed_alliances + 1 %>
      <% end -%>
    <% end %>

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    chart.draw(data, {width: 800, height: 600, title: 'Liittokohtaiset paikkamäärät',
                      'backgroundColor':'transparent',
                      axisTitlesPosition: 'in',
                      titlePosition: 'in',
                      hAxis: {title: 'Tilanne <%= result.formatted_timestamp(:created_at) -%>',
                              titleTextStyle: {color: 'red'},
                              showTextEvery: 1,
                              textPosition: 'in'},
                      vAxis: {textPosition: 'in'}
                     });
  }
</script>

<h1>Vaaliliittojen edustajistopaikat</h1>

<% if not result.most_recent? %>
  <p>
    <strong>Huomio!</strong> Kaavio ei koske tuoreinta vaalitulosta.
  </p>
<% end %>

<ul class="seat-listing">
  <% result.alliance_results.by_vote_sum.each do |alliance_result| -%>
    <% elected_count = result.elected_candidates_in_alliance(alliance_result).count -%>
    <% if elected_count > 0 -%>
      <li><%= alliance_result.electoral_alliance.shorten -%>: <%= result.elected_candidates_in_alliance(alliance_result).count -%></li>
    <% end -%>
  <% end -%>
</ul>

<div style="clear:both; margin-left:-100px; padding:0;" id="chart_div"></div>
