<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();

    data.addRows(1);
    data.addColumn('string');
    data.setValue(0,0,'Paikkoja');

    <% result.alliance_results.by_vote_sum.each_with_index do |alliance_result, i| -%>
        data.addColumn('number', '<%= alliance_result.electoral_alliance.shorten -%>');
        data.setValue(0,
                      <%= i+1 -%>,
                      <%= result.elected_candidates_in_alliance(alliance_result).count -%>);
    <% end %>

    var options = {width: 960, height: 600, title: 'Liittokohtaiset paikkamäärät',
                      backgroundColor:'transparent',
                      axisTitlesPosition: 'in',
                      titlePosition: 'in',
                      hAxis: {title: 'Tilanne <%= result.formatted_timestamp(:created_at) -%>',
                              titleTextStyle: {color: 'red'},
                              showTextEvery: 1,
                              textPosition: 'in'},
                      vAxis: {textPosition: 'in'}
                     };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

    chart.draw(data, options);
  }
</script>

<h1>Vaaliliittojen edustajistopaikat</h1>

<% if not result.most_recent? %>
  <p>
    <strong>Huomio!</strong> Kaavio ei koske tuoreinta vaalitulosta.
  </p>
<% end %>

<ul class="seat-listing">
  <% result.alliance_results.by_vote_sum.each do |alliance_result| -%>
    <% elected_count = result.elected_candidates_in_alliance(alliance_result).count -%>
    <% if elected_count > 0 -%>
      <li><%= alliance_result.electoral_alliance.shorten -%>: <%= result.elected_candidates_in_alliance(alliance_result).count -%></li>
    <% end -%>
  <% end -%>
</ul>

<div style="clear:both; margin-left:-100px; padding:0;" id="chart_div"></div>
