<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();

    data.addRows(1);
    data.addColumn('string');
    data.setValue(0,0,'Ääniä');

    <% result.candidate_results.most_voted.each_with_index do |candidate_result, i| -%>
        data.addColumn('number', '<%= candidate_result.candidate.candidate_name -%> [<%= candidate_result.candidate.electoral_alliance.shorten %>]');
        data.setValue(0, <%= i+1 -%>, <%= candidate_result.vote_sum_cache -%>);
    <% end %>

    var options = {width: 960, height: 600, title: 'Äänestetyimmät ehdokkaat (top 10)',
                      backgroundColor:'transparent',
                      axisTitlesPosition: 'in',
                      titlePosition: 'in',
                      hAxis: {title: 'Tilanne <%= result.formatted_timestamp(:created_at) -%>',
                              titleTextStyle: {color: 'red'},
                              showTextEvery: 1,
                              textPosition: 'in'},
                      vAxis: {textPosition: 'in'}
                     };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

    chart.draw(data, options);
  }
</script>

<h1>Äänestetyimmät kymmenen ehdokasta</h1>

<% if not result.most_recent? %>
  <p>
    <strong>Huomio!</strong> Kaavio ei koske tuoreinta vaalitulosta.
  </p>
<% end %>

<ul class="seat-listing">
  <% result.candidate_results.most_voted.each do |candidate_result| -%>
      <li style="width: 250px;">
          <%= candidate_result.candidate.candidate_name %>
          [<%= candidate_result.candidate.electoral_alliance.shorten -%>]:
          <%= candidate_result.vote_sum_cache -%>
      </li>
  <% end -%>
</ul>

<div style="clear:both; margin-left:-100px; padding:0;" id="chart_div"></div>
