<h1>Asiamiesten lähettämät korjaukset</h1>
<% if @coalitions.count == 0 %>
  <p>Järjestelmässä ei ole käsittelemättömiä korjauksia.</p>
<% end -%>

<% @coalitions.each do |coalition| -%>
  <h2><%= coalition.name %></h2>

  <% coalition.electoral_alliances.each do |alliance|
    next unless alliance.has_fix_needing_candidates? -%>
    <h3><%= alliance.name %></h3>
    <% alliance.candidates.has_fixes.each do |candidate| -%>
      <h4><%= candidate.candidate_name %></h4>
      <table class="long-listing">
        <thead>
          <tr>
            <th>Kenttä</th>
            <th>Alkuperäinen</th>
            <th>Korjattu</th>
            <th>Toiminto</th>
          </tr>
        </thead>
      <% candidate.data_fixes.unapplied.each do |fix| -%>
        <tr id="fix_<%= fix.id %>">
            <td><%= t(:"candidate.#{fix.field_name}") %></td>
            <td><%= fix.old_value %></td>
            <td><%= fix.new_value %></td>
            <td><%= link_to 'Hyväksy', '#accept' %> | <%= link_to 'Hylkää', '#reject' %></td>
        </tr>
      <% end -%>
      </table>
    <% end -%>
  <% end -%>
<% end -%>
