<h1>Vaalitulos</h1>

<ul>
  <li>Vaalirenkaita yhteensä: <%= @coalition_count %></li>
  <li>Vaaliliittoja yhteensä: <%= @alliance_count %></li>
  <li>Ehdokkaita ilman liittoa: <%= @allianceless_candidates %></li>
  <li>Ehdokkaita yhteensä: <%= @candidates.count %></li>
  <li>Valittavia ehdokkaita: <%= @candidates_to_select %></li>
  <li>Äänioikeutettuja: <%= @right_to_vote %></li>
  <li>Ääniä annettu: <%= @votes_given %></li>
  <li>Ääniä hyväksytty: <%= @votes_accepted %></li>
  <li>Äänestysprosentti %: <%= @voting_percentage %></li>
</ul>

<p>Äänistä laskettu <%= @calculated_votes %>%</p>

<table>
  <tr>
    <th>Ehdokasnumero</th>
    <th>Ehdokasnimi</th>
    <th>Vaaliliitto</th>
    <th>Vaalirengas</th>
    <th>Äänet</th>
    <th>LVRT</th>
    <th>RVRT</th>
  </tr>
<% @candidates.each do |candidate| -%>
  <tr>
    <td><%= candidate.candidate_number %></td>
    <td><%= link_to candidate.candidate_name, admin_candidate_path(candidate.id) %></td>
    <td><%= candidate.electoral_alliance.shorten %></td>
    <td><%= candidate.electoral_alliance.electoral_coalition ? candidate.electoral_alliance.electoral_coalition.shorten : '' %></td>
    <td><%= candidate.total_votes %></td>
    <td><%= candidate.alliance_proportional%></td>
    <td><%= candidate.coalition_proportional%></td>
  </tr>
<% end -%>
</table>
