<%= link_to "&larr; Takaisin etusivulle".html_safe, admin_dashboard_path %>

<h1>Ääntenlaskennan eteneminen</h1>

<h2>Ohjeet äänestysalueen ottamiseksi mukaan ääntenlaskentaan:</h2>
<ul>
  <li>Valitse äänestysalueet ja paina "Laske".</li>
  <li>Uusi vaalitulos näkyy <%= link_to "vaalitulossivulla", results_path %>.</li>
  <li>Äänestysalueen voi ottaa laskentaan vasta, kun se on merkitty syötetyksi.</li>
  <li>Äänten laskeminen tapahtuu taustalla, ja laskenta kestää 1-5 minuuttia.</li>
  <li>Kun hyväksyttyjen äänten yhteislukumäärä on selvillä, <%= link_to "päivitä se asetussivulle", edit_manage_configuration_path %>
       ennen viimeisen äänestysalueen ottamista mukaan laskentaan.<br />
       Tällöin ääntenlaskentaprosentti on lopuksi tasan 100 %.</li>
</ul>

<%= form_tag showdown_listings_path, :method => :post, :class => "showdown" do -%>
  <table class="long-listing">
    <tr>
      <th colspan="2">Äänestysalue</th>
      <th>Ääniä</th>
      <th>Laskentaan</th>
    </tr>
  <% @voting_areas.each do |area| -%>
    <% area_decorator = VotingAreaDecorator.new(area) %>
    <tr class="<%= area_decorator.state_class %>">
      <td><%= area_decorator.code %></td>
      <td><%= area_decorator.name %></td>
      <td><%= area_decorator.vote_count %></td>
      <td>
        <% if area_decorator.markable_ready? %>
          <input type="checkbox" id="mark_ready_<%= area_decorator.id %>" name="mark_ready[]" value="<%= area_decorator.id %>" />
        <% else %>
          <%= area_decorator.formatted_state(area.ready?) %>
        <% end %>
      </td>
    </tr>
  <% end %>
    <tr>
      <td></td>
      <td>Yhteensä</td>
      <td><%= Vote.sum("amount") %></td>
      <td></td>
    </tr>
  </table>
  <p>
    <input type="submit" value="Ota valitut äänestysalueet laskentaan" />
  </p>

<% end -%>
