<h1>Ääntenlaskennan eteneminen</h1>

<h2>Ohjeita äänestysalueen ottamiseksi mukaan ääntenlaskentaan:</h2>
<ul>
  <li>Valitse äänestysalueet ja paina "Laske".</li>
  <li>Odota laskennan valmistumista. Voit ladata tätä sivua uudelleen (paina: F5/CTRL-R).</li>
  <li>Kun äänestysalueen tilana on "laskennassa", äänet eivät vielä näy osana vaalitulosta.</li>
  <li>Äänten laskeminen tapahtuu taustalla, ja laskenta kestää 5-15 minuuttia.</li>
  <li>Kun äänestysalueen tilana on "laskettu", näkyvät alueelta annetut äänet osana vaalitulosta.</li>
</ul>

<%= form_tag showdown_listings_path, :method => :post, :class => "showdown" do -%>
  <table>
    <tr>
      <th colspan="2">Äänestysalue</th>
      <th>Tila</th>
      <th>Ääniä</th>
      <th>Ota mukaan</th>
    </tr>
  <% @voting_areas.each do |area| -%>
    <tr class="<%= area.state_class %>">
      <td><%= area.code %></td>
      <td><%= area.name %></td>
      <td><%= area.state %></td>
      <td><%= area.total_votes %></td>
      <td><% if area.ready and !area.taken %><input type="checkbox" id="takewith_<%= area.id %>" name="takewith[]" value="<%= area.id %>" /><% end %></td>
    </tr>
  <% end -%>
  </table>
  <p>
    <input type="submit" value="Laske" />
  </p>

<% end -%>
