<h1>Showdown - Vaalishown hallinta</h1>

<%= form_tag showdown_listings_path, :method => :post, :class => "showdown" do -%>
  <table>
    <tr>
      <th colspan="2">Äänestysalue</th>
      <th>Tila</th>
      <th>Ääniä</th>
      <th>Ota mukaan</th>
    </tr>
  <% @voting_areas.each do |area| -%>
    <tr class="<%= area.state_class %>">
      <td><%= area.code %></td>
      <td><%= area.name %></td>
      <td><%= area.state %></td>
      <td><%= area.total_votes %></td>
      <td><% if area.ready and !area.taken %><input type="checkbox" id="takewith_<%= area.id %>" name="takewith[]" value="<%= area.id %>" /><% end %></td>
    </tr>
  <% end -%>
  </table>
  <p><input type="submit" value="Laske" /></p>
<% end -%>
