<h1>Candidate list</h1>

<table>
  <tr>
    <th>Candidate number</th>
    <th>Candidate name</th>
    <th>Electoral alliance</th>
    <th>Electoral coalition</th>
    <th>Notes</th>
  </tr>
<% @candidates.each do |candidate| -%>
  <tr>
    <td><%= candidate.candidate_number %></td>
    <td><%= link_to candidate.candidate_name, admin_candidate_path(candidate.id) %></td>
    <td><%= candidate.electoral_alliance.name %></td>
    <td><%= candidate.electoral_alliance.electoral_coalition ? candidate.electoral_alliance.electoral_coalition.name : '' %></td>
    <td><%= candidate.notes %></td>
  </tr>
<% end -%>
</table>
