<h1>Ehdokaslista</h1>

<table>
  <tr>
    <th>Ehdokasnumero</th>
    <th>Ehdokasnimi</th>
    <th>Henkilötunnus</th>
    <th>Vaaliliitto</th>
    <th>Vaalirengas</th>
    <th>Huomiot</th>
  </tr>
<% @candidates.each do |candidate| -%>
  <tr>
    <td><%= candidate.candidate_number %></td>
    <td><%= link_to candidate.candidate_name, admin_candidate_path(candidate.id) %></td>
    <td><%= candidate.social_security_number %></td>
    <td><%= candidate.electoral_alliance.shorten if candidate.electoral_alliance and candidate.electoral_alliance.shorten %></td>
    <td><%= candidate.electoral_alliance.electoral_coalition.shorten if candidate.electoral_alliance and candidate.electoral_alliance.electoral_coalition and candidate.electoral_alliance.electoral_coalition.shorten %></td>
    <td><%= candidate.notes %></td>
  </tr>
<% end -%>
</table>
