<p>
  &larr; <%= link_to "Takaisin hallintapaneeliin", admin_dashboard_url %>
</p>

<h1>Vaalitulokset</h1>

Julkinen vaalitulos: <%= link_to Vaalit::Results::PUBLIC_RESULT_URL, Vaalit::Results::PUBLIC_RESULT_URL %>

<h2>Alustavat vaalitulokset</h2>

<ul>
  <li>Vaalituloksen julkinen osoite pysyy aina samana:
    <%= link_to Vaalit::Results::PUBLIC_RESULT_URL, Vaalit::Results::PUBLIC_RESULT_URL %></li>
  <li>Tuloksen julkaiseminen päivittää tiedot yllämainittuun osoitteeseen.</li>
  <li>Linkitä HYYn websivuilta ainoastaan julkiseen osoitteeseen.</li>
  <li>Väliaikatulos on tarkoitettu tiedotuksen ja vaalivalvojaisten käyttöön ennen tuloksen julkaisua.</li>
  <li>Yksittäisen väliaikatuloksen URL-osoitteen voi jakaa HYYn sisällä, mutta sitä ei pidä linkittää julkisesti.</li>
</ul>

<h3>Vaalivalvojaisissa:</h3>
    <ul>
      <li>Pimennä videotykki, avaa kaikki näytettävät sivut tabeihin etukäteen ja vasta sen jälkeen tykitä tiedot seinälle.
        <br>Tällä tavoin saat lisäaikaa rauhalliseen selvittelyyn, jos jotain menee pieleen.</li>
      <li>Avaa selain koko ruudun kokoiseksi (View -> Full Screen).</li>
      <li>Zoomaa vaalitulos sopivankokoiseksi selainikkunaan (ctrl+ ja ctrl-).</li>
      <li>Julkaise vaalitulos vasta tykittämisen jälkeen, jotta jännitys säilyy vaalivalvojaisissa.</li>
      <li>
        Huom! Avaa tykitettävät tulokset ja kuvaajat tabeihin <u>tältä sivulta!</u>
        <br />Vain tältä sivulta klikattavista linkeistä pääset käsiksi julkaisemattomaan tulokseen.
      </li>
    </ul>

<table class="long-listing">
  <thead>
    <tr>
      <th>Luotu</th>
      <th>Julkaistu?</th>
      <th>Väliaikatulos</th>
      <th colspan="4">Kuvaajat</th>
    </tr>
  </thead>

<% @results.each do |result| %>
  <% result_decorator = ResultDecorator.new(result)%>

  <tr>
    <td><%= result_decorator.formatted_timestamp(:created_at) %></td>
    <td>
      <% if result_decorator.published? %>
        Julkaistu.
      <% elsif result_decorator.published_pending? %>
        Jonossa julkaistavaksi
      <% else %>
        <%= button_to "Julkaise", manage_result_publish_path(result),
                      :method   => :put,
                      :class    => "btn btn-danger",
                      :confirm  => "Julkaistaanko vaalitulos? Tämä korvaa aiemman julkaisun välituloksen." %>
      <% end %>
    </td>

    <td>
      <%= link_to result_decorator.filename, result_decorator.result_file_url,  :target => "_blank" %>
      <% if Rails.env.development? %>
        <h4>DEVAUSLINKIT:</h4>
        <ul>
          <li>Tulos:
              <%= link_to "(html)", manage_result_path(result), :target => "_blank" %>
              |
              <%= link_to "(json)", manage_result_path(result, :format=>:json), :target => "_blank" %>
          </li>
        </ul>
      <% end %>
    </td>

    <td>
      <%= link_to "Paikkojen jakautuminen",
                  chart_address(result, :treemap),
                  :target => "_blank" %>
    </td>
    <td><%= link_to "Paikat ryhmittäin",        manage_result_charts_path(result, :type => :coalition_pie),  :target => "_blank" %></td>
    <td><%= link_to "Paikat liitoittain",       manage_result_charts_path(result, :type => :alliance_bars),  :target => "_blank" %></td>
    <td><%= link_to "Äänestetyimmät ehdokkaat", manage_result_charts_path(result, :type => :candidate_bars), :target => "_blank" %></td>
  </tr>

<% end %>

</table>
