<p>
  &larr; <%= link_to "Takaisin hallintapaneeliin", admin_dashboard_url %>
</p>

<h1>Vaalitulokset</h1>

<h2>Alustavat vaalitulokset</h2>

<ul>
  <li>Vaalituloksen julkinen osoite pysyy aina samana:
    <%= link_to Vaalit::Results::PUBLIC_RESULT_URL, Vaalit::Results::PUBLIC_RESULT_URL %></li>
  <li>Tuloksen julkaiseminen päivittää tiedot yllämainittuun osoitteeseen.</li>
  <li>Linkitä HYYn websivuilta ainoastaan julkiseen osoitteeseen.</li>
  <li>Väliaikatulos on tarkoitettu tiedotuksen ja vaalivalvojaisten käyttöön ennen tuloksen julkaisua.</li>
</ul>

<h3>Vaalivalvojaisissa:</h3>
    <ul>
      <li>Avaa selain koko ruudun kokoiseksi (View -> Full Screen).</li>
      <li>Zoomaa vaalitulos sopivankokoiseksi selainikkunaan (ctrl+ ja ctrl-).</li>
      <li>Julkaise vaalitulos vasta tykittämisen jälkeen, jotta jännitys säilyy.</li>
    </ul>

<table class="long-listing">
  <thead>
    <tr>
      <th>Luotu</th>
      <th>Julkaistu?</th>
      <th>Väliaikatulos</th>
      <th colspan="3">Kuvaajat</th>
    </tr>
  </thead>

<% @results.each do |result| %>
  <% result_decorator = ResultDecorator.new(result)%>

  <tr>
    <td><%= result_decorator.formatted_timestamp(:created_at) %></td>
    <td>
      <% if result_decorator.published? %>
        Julkaistu.
      <% elsif result_decorator.published_pending? %>
        Jonossa julkaistavaksi
      <% else %>
        <%= button_to "Julkaise", manage_result_publish_path(result),
                      :method   => :put,
                      :class    => "btn btn-danger",
                      :confirma => "Julkaistaanko vaalitulos? Tämä korvaa aiemman julkaisun välituloksen." %>
      <% end %>
    </td>

    <td><%= link_to result_decorator.filename, result_decorator.result_file_url %></td>
    <td><%= link_to "Paikat ryhmittäin",        manage_result_charts_path(result, :type => :coalition_pie),  :target => "_blank" %></td>
    <td><%= link_to "Paikat liitoittain",       manage_result_charts_path(result, :type => :alliance_bars),  :target => "_blank" %></td>
    <td><%= link_to "Äänestetyimmät ehdokkaat", manage_result_charts_path(result, :type => :candidate_bars), :target => "_blank" %></td>
  </tr>

<% end %>

</table>