<p>
  &larr; <%= link_to 'Takaisin hallintapaneeliin', admin_dashboard_path %>
</p>

<h1>Vaaralliset toiminnot</h1>

<iframe width="420" height="345"
src="https://www.youtube.com/embed/ZzQ3eBerHfM" frameborder="0"
allowfullscreen></iframe>

<h2>Asiamiehet</h2>

<ul>
  <li>
    Asiamiesten sisäänkirjautuminen on tällä hetkellä
    <strong><u><%= GlobalConfiguration.advocate_login_enabled? ? "sallittu" : "kielletty" %></u></strong>.
  </li>
  <li>Sisäänkirjautuminen kannattaa kieltää ennen Keskusvaalilautakunnan kokouksia, jotta
    <br>tiedot eivät muutu kesken kokouksen ja ehdokasnumerot eivät vuoda julkisiksi etukäteen.
  </li>
  <li>
    Sisäänkirjautumisen estäminen potkaisee samalla ulos kaikki sisäänkirjautuneet asiamiehet,
    <br>joten siinä vaiheessa asiamiehen tallentamattomat tiedot katoavat. Käytä toimintoa harkiten. :)
  </li>
  <li>
    <% if GlobalConfiguration.advocate_login_enabled? %>
      <%= button_to "Kiellä asiamiesten sisäänkirjautuminen",
                    disable_advocate_login_manage_configuration_path,
                    :class => "btn btn-danger",
                    :method => :put %>
    <% else %>
      <%= button_to "Salli asiamiesten sisäänkirjautuminen",
                     enable_advocate_login_manage_configuration_path,
                     :class => "btn btn-danger",
                     :method => :put %>
    <% end %>
  </li>
</ul>

<h2>Ehdokasasettelu</h2>

<ul>
  <li>
    <%= link_to 'Kirjoita ehdokkaille lähetettävä sähköposti', new_admin_email_path %>
    <ul>
      <li>Kirjoita viesti avautuvalta sivulta.</li>
      <li>Liitä kaikki eri kieliversiot samaan viestiin.</li>
      <li>Viestin voi lähettää kirjoittamisen jälkeen.</li>
    </ul>
  </li>
</ul>

<h3>Ehdokasnumerot</h3>

<ul>
  <li>
    <%= link_to 'Aseta vaalirenkaiden keskinäinen järjestys', admin_electoral_coalitions_path %> (Sivun oikeasta reunasta)
    <ul>
      <li>Kytke pois asiamiesten sisäänkirjautuminen ennen numerointia, jotta numerot eivät vuoda julkisiksi ennen KVL:n kokouksen päättymistä.</li>
      <li>Liitä jokainen vaaliliitto vaalirenkaaseen.</li>
      <li>Luo myös jokaiselle itsenäiselle liitolle (ja ehdokkaalle) oma vaalirengas, jolla on sama nimi kuin liitolla.</li>
      <li>Määritä järjestys (peruste ehdokasnumeroille) sen jälkeen, kun KVL on arponut renkaiden ja itsenäisten liittojen keskinäisen järjestyksen.</li>
    </ul>
  </li>
  <li>
    <%= link_to 'Anna ehdokkaille numerot', give_numbers_admin_candidates_path,
                                            :class=>"btn btn-danger",
                                            :data => {:confirm => "Jaetaanko ehdokasnumerot?"} %>
    <ul>
      <li>Ks. ohjeet renkaiden järjestämisestä.</li>
      <li>Kun renkaiden keskinäinen järjestys on määritetty, ehdokasnumerot voidaan jakaa.</li>
      <li>Ehdokasnumerot jaetaan samassa järjestyksessä kuin missä ehdokkaat näkyvät "Ehdokkaat"-sivulla.</li>
    </ul>
  </li>
</ul>

<h3>Tarkastuslaskenta</h3>

<ul>
  <li>
    <%= link_to 'Merkitse tarkastuslaskenta valmiiksi!', ready_checking_minutes_path,
                                                        :method => :post,
                                                        :class => "btn btn-danger",
                                                        :data => {:confirm => 'Onko jokaisen äänestysalueen tarkastuslaskenta valmis? Ääniä ei voi tämän jälkeen enää muokata.'} %>
  </li>
</ul>
