<p>
  &larr; <%= link_to 'Takaisin hallintapaneeliin', admin_dashboard_path %>
</p>

<h1>Vaaralliset toiminnot</h1>

<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/ZzQ3eBerHfM"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen>
</iframe>

<h2>Vaaliliiton edustajat</h2>

<ul>
  <li>
    Edustajien pääsy katsomaan vaaliliittonsa tietoja on tällä hetkellä
    <strong><u><%= GlobalConfiguration.advocate_login_enabled? ? "sallittu" : "kielletty" %></u></strong>.
  </li>
  <li>Pääsy kannattaa kieltää ennen ehdokasnumerointia, jotta ehdokasnumerot eivät vuoda julkisiksi
  <br>liian aikaisin ennen numeroinnin virallista vahvmistamista.
  </li>
  <li>
    Pääsyn voi jälleen sallia ehdokasnumeroinnin jälkeen, jotta edustajat voivat ladata numeroidut
    <br>ehdokastiedot CSV:nä.
  </li>
  <li>
    <% if GlobalConfiguration.advocate_login_enabled? %>
      <%= button_to "Estä pääsy vaaliliiton edustajan sivustolle",
        disable_advocate_login_manage_configuration_path,
        :class => "btn btn-danger",
        :method => :put
      %>
    <% else %>
      <%= button_to "Salli pääsy vaaliliiton edustajan sivustolle",
        enable_advocate_login_manage_configuration_path,
        :class => "btn btn-primary",
        :method => :put
      %>
    <% end %>
  </li>
</ul>

<h2>Ehdokasasettelu</h2>

<ul>
  <li>
    <%= link_to 'Kirjoita ehdokkaille lähetettävä sähköposti', new_admin_email_path %>
    <ul>
      <li>Kirjoita viesti avautuvalta sivulta.</li>
      <li>Liitä kaikki eri kieliversiot samaan viestiin.</li>
      <li>Viestin voi lähettää kirjoittamisen jälkeen.</li>
    </ul>
  </li>
</ul>

<h3>Ehdokasnumerot</h3>

<ul>
  <li>
    <%= link_to 'Aseta vaalirenkaiden keskinäinen järjestys', admin_electoral_coalitions_path %> (Sivun oikeasta reunasta)
    <ul>
      <li>Kytke pois vaaliliiton edustajien sisäänkirjautuminen ennen numerointia, jotta numerot eivät vuoda julkisiksi ennen KVL:n kokouksen päättymistä.</li>
      <li>Liitä jokainen vaaliliitto vaalirenkaaseen.</li>
      <li>Luo myös jokaiselle itsenäiselle liitolle (ja ehdokkaalle) oma vaalirengas, jolla on sama nimi kuin liitolla.</li>
      <li>Määritä järjestys (peruste ehdokasnumeroille) sen jälkeen, kun KVL on arponut renkaiden ja itsenäisten liittojen keskinäisen järjestyksen.</li>
    </ul>
  </li>
  <li>
    <%= link_to 'Anna ehdokkaille numerot',
      give_candidate_numbers_manage_danger_zone_path,
        method: :post,
        class: "btn btn-danger",
        data: { :confirm => "Jaetaanko ehdokasnumerot?" }
    %>
    <ul>
      <li>Lue yllä olevat ohjeet renkaiden järjestämisestä.</li>
      <li>Kun renkaiden keskinäinen järjestys on määritetty, ehdokasnumerot voidaan jakaa.</li>
      <li>Ehdokasnumerot jaetaan samassa järjestyksessä kuin missä ehdokkaat näkyvät "Ehdokkaat"-sivulla.</li>
      <li>Ehdokkuutensa peruneet henkilöt eivät saa ehdokasnumeroa, vaikka näkyvät omassa listauksessaan.</li>
    </ul>
  </li>
</ul>
