<div class="panel">
  <h3>Candidate Details</h3>

  <div class="panel_contents">
    <div id="attributes_candidates_<%= candidate.id %>" class="attributes_table candidate">
      <table cellspacing="0" cellpadding="0" border="0">
        <tbody>
          <tr id="lastname">
            <th><%= t 'candidate.lastname' %></th>
            <td><%= candidate.lastname %></td>
          </tr>
          <tr id="firstname">
            <th><%= t 'candidate.firstname' %></th>
            <td><%= candidate.firstname %></td>
          </tr>
          <tr id="candidate_name">
            <th><%= t 'candidate.candidate_name' %></th>
            <td><%= candidate.candidate_name %></td>
          </tr>
          <tr id="social_security_number">
            <th><%= t 'candidate.social_security_number' %></th>
            <td><%= candidate.social_security_number %></td>
          </tr>
          <tr id="address">
            <th><%= t 'candidate.address' %></th>
            <td><%= candidate.address %></td>
          </tr>
          <tr id="postal_information">
            <th><%= t 'candidate.postal_information' %></th>
            <td><%= candidate.postal_information %></td>
          </tr>
          <tr id="email">
            <th><%= t 'candidate.email' %></th>
            <td><%= candidate.email %></td>
          </tr>
          <tr id="faculty">
            <th><%= t 'candidate.faculty' %></th>
            <td><%= candidate.faculty %></td>
          </tr>
          <tr>
            <th><%= t 'candidate.electoral_alliance' %></th>
            <% if candidate.electoral_alliance -%>
            <td><%= link_to(candidate.electoral_alliance.name, admin_electoral_alliance_path(candidate.electoral_alliance)) %></td>
            <% else -%>
            <td>(missing)</td>
            <% end -%>
          </tr>
          <tr>
            <th><%= t 'candidate.notes' %></th>
            <td><%= candidate.notes %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
