<h1>Järjestelmän asetukset</h1>

<p><%= link_to 'Takaisin hallintapaneeliin', admin_dashboard_path %></p>

<%= form_tag(configuration_path('total_vote_count'), :method => :put) do -%>
  <p>
    <strong>Ääniä yhteensä:</strong><br />
    <%= text_field_tag 'value', @total_vote_count %>
    <%= submit_tag 'Save' %>
  </p>
<% end -%>

<%= form_tag(configuration_path('right_to_vote'), :method => :put) do -%>
  <p>
    <strong>Äänioikeutettuja:</strong><br />
    <%= text_field_tag 'value', @right_to_vote %>
    <%= submit_tag 'Save' %>
  </p>
<% end -%>

<%= form_tag(configuration_path('candidates_to_select'), :method => :put) do -%>
  <p>
    <strong>Valittavia ehdokkaita:</strong><br />
    <%= text_field_tag 'value', @candidates_to_select %>
    <%= submit_tag 'Save' %>
  </p>
<% end -%>

<%= form_tag(configuration_path('mailaddress'), :method => :put) do -%>
  <p>
    <strong>Järjestelmän mailiosoite:</strong><br />
    <%= text_field_tag 'value', @mailaddress%>
    <%= submit_tag 'Save' %>
  </p>
<% end -%>
