<p>
  &larr; <%= link_to "Takaisin äänestysalueen sivulle", checking_minute_path(@voting_area) %>
</p>

<h1>
  Äänestysalue <%= @voting_area.code %><br />
  <%= @voting_area.name %>
</h1>

<h2>Tarkastuslaskentapöytäkirja</h2>

<ul>
  <li>Syötä taulukkoon ehdokasnumero ja ehdokkaan uusi äänimäärä. Paina tallennusnappia.</li>
  <li>Voit syöttää korkeintaan kymmenen korjausta kerrallaan. Voit syöttää lisää vasta, kun olet tallentanut ensimmäiset kymmenen.</li>
  <li>Voit korjata syöttämääsi tietoa antamalla ehdokasnumerolle uuden äänimäärän.</li>
  <li>Nollan syöttäminen vastaa äänimäärän poistamista.</li>
  <li><strong>Tärkeää!</strong> Palaa edelliselle sivulle yläreunan 'Takaisin'-nappulasta.</li>
  <li><strong>Älä paina selaimen back-nappia!</strong> Muussa tapauksessa näet väärää tietoa selaimen välimuistista!</li>
</ul>

<% if @voting_area.votes.with_fixes.count > 0 -%>
<table id="voting-area" class="long-listing">
  <thead>
    <tr>
      <th colspan="4">Äänestysalue <%= @voting_area.code %> - <%= @voting_area.name %></th>
    </tr>
    <tr>
      <th>Ehdokasnumero</th>
      <th>Ääniä</th>
      <th>Korjattu</th>
    </tr>
  </thead>
  <% Candidate.for_checking_minutes_only_fixed_votes(@voting_area.id).each do |candidate| -%>
    <tr>
      <td><%= candidate.candidate_number %></td>
      <td><%= candidate.vote_amount %></td>
      <td><%= candidate.fixed_vote_amount %></td>
    </tr>
  <% end -%>
</table>
<% end -%>

<% if flash[:invalid_candidate_numbers] and flash[:invalid_candidate_numbers].any? %>
  <div class="error">
    <p>
      Annoit seuraavat virheelliset ehdokasnumerot:
       <%= flash[:invalid_candidate_numbers].join(", ") %>
    </p>
  </div>
<% end %>

<h2>Tallentamattomat uudet äänimäärät:</h2>
<%= form_tag checking_minute_path(@voting_area.id), :method => :put do -%>
  <table id="vote_fix_form">
    <tr>
      <th>Ehdokasnumero</th>
      <th>Korjattu äänimäärä</th>
    </tr>
  <% 10.times do |i| -%>
    <tr>
      <td>
        <input type="text" id="candidate_numbers_<%= i %>" name="votes[<%= i %>]candidate_number" />
      </td>
      <td>
        <input type="text" id="vote_amounts_<%= i %>" name="votes[<%= i %>]vote_amount" />
      </td>
    </tr>
  <% end -%>
  </table>
  <p><input type="submit" value="Tallenna korjaukset äänimääriin" /></p>
<% end -%>
