<%= link_to "&larr; Takaisin äänestysalueen sivulle".html_safe, checking_minute_path(@voting_area) %>

<h1>Tarkastuspöytäkirja <%= @voting_area.code %> - <%= @voting_area.name %></h1>

<ul>
  <li>Syötä taulukkoon uudet tiedot ja paina "Tallenna".</li>
  <li>Voit syöttää korkeintaan kymmenen korjausta kerrallaan. Voit syöttää lisää vasta, kun olet tallentanut ensimmäiset kymmenen.</li>
  <li>Voit korjata syöttämääsi tietoa antamalla ehdokasnumerolle uuden äänimäärän.</li>
  <li>Nollan syöttäminen vastaa äänimäärän poistamista.</li>
  <li>Tarkista syöttämäsi tiedot ennen kuin poistut näkymästä.</li>
</ul>

<% if @voting_area.votes.with_fixes.count > 0 -%>
<table id="voting_area">
  <tr>
    <th>Ehdokasnumero</th>
    <th>Äänimäärä</th>
    <th>Korjattu äänimäärä</th>
  </tr>
  <% @voting_area.votes.with_fixes.each do |vote| -%>
    <tr>
      <td><%= vote.candidate.candidate_number %></td>
      <td><%= vote.vote_count %></td>
      <td><%= vote.fix_count %></td>
    </tr>
  <% end -%>
</table>
<% end -%>

<%= raw "<p style='color:red; font-size: 120%; font-weight: bold;'>#{flash[:errors]}</p>" if flash[:errors] -%>

<h2>Tallentamattomat uudet äänimäärät:</h2>
<%= form_tag checking_minute_path(@voting_area.id), :method => :put do -%>
  <table id="vote_fix_form">
    <tr>
      <th>Ehdokasnumero</th>
      <th>Korjattu äänimäärä</th>
    </tr>
  <% 10.times do |i| -%>
    <tr>
      <td>
        <input type="text" id="candidate_numbers_<%= i %>" name="votes[<%= i %>]candidate_number" />
      </td>
      <td>
        <input type="text" id="vote_counts_<%= i %>" name="votes[<%= i %>]vote_count" />
      </td>
    </tr>
  <% end -%>
  </table>
  <p><input type="submit" value="Tallenna korjaukset äänimääriin" /></p>
<% end -%>
