
<h1>Tarkastuslaskennassa tulleet korjaukset</h1>

<ul>
  <li><%= link_to 'Takaisin tarkastuslaskentaan (tlk-pj)', checking_minutes_path %></li>
  <li><%= link_to 'Takaisin ylläpidon dashboardille (admin)', admin_dashboard_path %></li>
</ul>

<% if flash[:notice] -%>
  <p class="notice"><%= flash[:notice] %></p>
<% end -%>

<% @voting_areas.each do |voting_area| -%>
  <h4><%= voting_area.code %> - <%= voting_area.name %></h4>

  <% if voting_area.votes.with_fixes.count > 0 -%>
    <table id="voting-area" class="long-listing">
      <thead>
        <tr>
          <th colspan="4">Äänestysalue <%= voting_area.code %> - <%= voting_area.name %></th>
        </tr>
        <tr>
          <th>Ehdokasnumero</th>
          <th>Äänimäärä</th>
          <th>Korjattu äänimäärä</th>
        </tr>
      </thead>
    <% Candidate.for_checking_minutes_only_fixed_votes(voting_area.id).each do |candidate| -%>
      <tr>
        <td><%= candidate.candidate_number %></td>
        <td><%= candidate.vote_amount %></td>
        <td><%= candidate.fixed_vote_amount %></td>
      </tr>
    <% end -%>
    </table>
  <% else -%>
    <p>Ei korjauksia tällä äänestysalueella</p>
  <% end -%>
<% end -%>
