<p><%= link_to 'logout', login_voting_area_path %></p>

<% if @voting_area.ready -%>
<p>Tämä alueen äänet on merkitty lasketuiksi</p>
<% else -%>
<p><%= link_to "Merkitse alueen äänet lasketuksi", mark_ready_voting_area_path, :confirm => 'Are you sure, that all votes are inserted' %></p>
<% end -%>

<h1><%= @voting_area.name %></h1>

<% if @voting_area.votes.count > 0 -%>
<table>
  <tr>
    <th>Ehdokasnimi</th>
    <th>Äänimäärä</th>
  </tr>
  <% @voting_area.votes.each do |vote| -%>
    <% next if vote.vote_count == 0 -%>
    <tr>
      <td><%= vote.candidate.candidate_number %></td>
      <td><%= vote.vote_count %></td>
    </tr>
  <% end -%>
</table>
<% end -%>

<% unless @voting_area.ready -%>

<%= raw "<p style='color:red; font-size: 120%; font-weight: bold;'>#{flash[:errors]}</p>" if flash[:errors] -%>

<%= form_tag voting_area_path, :method => :post do -%>
  <table id="vote_insert_form">
    <tr>
      <th>Ehdokasnimi</th>
      <th>Äänimäärä</th>
    </tr>
  <% 10.times do |i| -%>
    <tr>
      <td>
        <input type="text" id="candidate_numbers_<%= i %>" name="votes[<%= i %>]candidate_number" />
      </td>
      <td>
        <input type="text" id="vote_counts_<%= i %>" name="votes[<%= i %>]vote_count" />
      </td>
    </tr>
  <% end -%>
  </table>
  <p><input type="submit" value="Lisää äänitiedot" /></p>
<% end -%>

<% end -%>
