<h2>Edustajistovaaliehdokkaaksi ilmoittautuminen</h2>

<dl>
  <dt>Ehdokasilmoittautumisen päättyminen:</dt>
    <dd><%= friendly_datetime(GlobalConfiguration.candidate_nomination_ends_at) %></dd>
  <dt>Ehdokastietojen korjausten ja peruutusten määräaika:</dt>
    <dd><%= friendly_datetime(GlobalConfiguration.candidate_data_is_freezed_at) %></dd>
</dl>

<% if @candidate.present? %>
  <p>
    Opiskelijanumerollasi on
    <%= link_to "voimassa oleva ehdokasilmoittautuminen", registrations_candidate_path %>.
  </p>
<% else %>
  <p>
    Voit rekisteröityä edustajistovaalien ehdokkaaksi, kun olet saanut kutsukoodin jonkin vaaliliiton
    edustajalta. Jos sinulla ei ole kutsukoodia, ota yhteys vaaliliittosi edustajaan.
  </p>

  <p>
    Ehdokkaaksi voi ilmoittautua myös itsenäisesti ilman vaaliliittoa. Itsenäistä ehdokasta
    käsitellään teknisesti kuin hän olisi muodostanut yhden henkilön vaaliliiton.
  </p>

  <p>
    Mikäli haluat muodostaa uuden vaaliliiton tai rekisteröityä itsenäisenä ehdokkaana, ota yhteys
    vaalit@hyy.fi saadaksesi vaaliliiton edustajan käyttäjätunnuksen.
  </p>

  <p>
    <% if can? :create, :candidate %>
      <%= form_tag new_registrations_candidate_path, method: :get do -%>
        <label for="invite_code">Vaaliliiton kutsukoodi</label>
        <input type="text" name="invite_code">

        <input type="submit" value="Jatka">
      <% end -%>
    <% else %>
      <strong>Uusia ehdokkuuksia ei tällä hetkellä oteta vastaan.</strong>
    <% end %>
  </p>
<% end %>

<%= render partial: "alliances_with_advocate_info" %>

<hr>

<h2>Rekisteröidy vaaliliiton edustajaksi</h2>

<p>
  Jokaisen ehdokkaaksi ilmoittautuvan henkilön tulee kuulua yhteen vaaliliittoon.
  Jokaisella vaaliliitolla on edustaja, joka vastaa vaaliliiton ehdokastiedoista.
  <br>
  Vaaliliitot voivat muodostaa keskenään vaalirenkaan, jolloin yksi tai useampi vaaliliitto
  hyötyy toistensa äänimäärästä.
  <br>
  Ehdokkaaksi voi ilmoittautua myös ilman vaaliliittoa, jolloin ehdokasta käsitellään teknisesti
  kuin hän kuuluisi yhden henkilön vaaliliittoon.
</p>

<% if current_haka_user.advocate_user.present? %>
  <p>
    Sinulla on vaaliliiton edustajan käyttäjätunnus, joten voit jatkaa alla
    olevasta linkistä.
  </p>

  <p>
    &raquo; <%= link_to "Vaaliliiton edustajan sivustolle", advocates_alliances_path %>
  </p>
<% else %>
  <p>
    Jos haluat muodostaa vaaliliiton, ota yhteys vaalit@hyy.fi saadaksesi vaaliliiton edustajan
    käyttäjätunnuksen.
  </p>
<% end %>
