<h2><%= t(".heading") %></h2>

<dl>
  <dt><%= t(".nomination_starts") %></dt>
    <dd><%= friendly_datetime(GlobalConfiguration.candidate_nomination_starts_at) %></dd>
  <dt><%= t(".nomination_ends") %></dt>
    <dd><%= friendly_datetime(GlobalConfiguration.candidate_nomination_ends_at) %></dd>
  <dt><%= t(".correction_deadline") %></dt>
    <dd><%= friendly_datetime(GlobalConfiguration.candidate_data_is_freezed_at) %></dd>
</dl>

<% if @candidate.present? %>
  <p>
    <%= t(".has_registration_html",
      link: link_to(t(".has_registration_link"), registrations_candidate_path)) %>
  </p>
<% else %>
  <p>
    <%= t(".invite_intro") %>
  </p>

  <p>
    <%= t(".independent_intro") %>
  </p>

  <p>
    <%= t(".new_alliance_intro") %>
  </p>

  <p>
    <% if can? :create, Candidate, student_number: current_haka_user.student_number %>
      <%= form_tag new_registrations_candidate_path, method: :get do -%>
        <label for="invite_code"><%= t(".invite_code_label") %></label>
        <input type="text" name="invite_code">

        <input type="submit" value="<%= t(".continue") %>">
      <% end -%>
    <% else %>
      <strong><%= t(".registrations_closed") %></strong>
    <% end %>
  </p>
<% end %>

<%= render partial: "alliances_with_advocate_info" %>

<hr>

<h2><%= t(".advocate_heading") %></h2>

<p>
  <%= t(".alliance_rule_1") %>
  <br>
  <%= t(".alliance_rule_2") %>
  <br>
  <%= t(".alliance_rule_3") %>
</p>

<% if current_haka_user.advocate_user.present? %>
  <% if can? :access, :advocate %>
    <p>
      <%= t(".has_advocate_account") %>
    </p>

    <p>
      &raquo; <%= link_to t(".advocate_site_link"), advocates_alliances_path %>
    </p>
  <% else %>
    <strong><%= t(".advocate_access_blocked") %></strong>
    <br>
    <%= t(".advocate_access_blocked_reason") %>
  <% end %>
<% else %>
  <p>
    <%= t(".become_advocate") %>
  </p>
<% end %>
