<% if ElectoralAlliance.without_coalition.count > 0 -%>
  <p>
    <%= link_to "Renkaattomia liittoja on #{ElectoralAlliance.without_coalition.count} kpl",
      admin_electoral_alliances_path(:scope => :without_coalition) %>
  </p>

  <p>
    Jokaisen liiton on kuuluttava renkaaseen ennen kuin renkaille voidaan antaa järjestys. Jos liitolla ei ole rengasta, luo rengas jolla on liiton nimi.
  </p>
<% else -%>

<%= form_tag order_coalitions_admin_electoral_coalitions_path, :method => :post, :class => "ordering" do -%>
  <% electoral_coalitions.by_numbering_order.each do |coalition| -%>
    <div>
      <input
        type="text"
        name="coalitions[<%= coalition.id %>]"
        id="coalition_<%= coalition.id %>"
        value="<%= coalition.numbering_order %>" />
      <label for="coalition_<%= coalition.id %>"><%= coalition.name %></label>
    </div>
  <% end -%>

  <div>
    <input type="submit" value="Update order" />
  </div>
<% end -%>

<% end -%>
