<%
  #FIXME: this is ugly
  alliances_without_coalition_count = ElectoralAlliance.without_coalition.count
if alliances_without_coalition_count > 0 -%>
<p>Renkaattomia liittoja löytyi <%= alliances_without_coalition_count %> kpl. Ole hyvä ja luo heille renkaat, niin järjestäminen toimii. <%= link_to 'Listaa renkaattomat liitot', admin_electoral_alliances_path(:scope => :without_coalition) %></p>
<% else -%>

<%= form_tag order_coalitions_admin_electoral_coalitions_path, :method => :post, :class => "ordering" do -%>
  <% electoral_coalitions.each do |coalition| -%>
    <p>
      <input type="text" name="coalitions[<%= coalition.id %>]" id="coalition_<%= coalition.id %>" value="<%= coalition.numbering_order %>" />
      <label for="coalition_<%= coalition.id %>"><%= coalition.name %></label>
    </p>
  <% end -%>
  <p><input type="submit" value="Change order" /></p>
<% end -%>

<% end -%>
