<table class="long-listing">
  <thead>
    <th>ID</th>
    <th>Ehdokkaat</th>
    <th colspan="2">Arvonta</th>
  </thead>

  <% draws.each do |draw| %>

    <tr id="draw_<%= draw.identifier -%>">
      <td><%= draw.identifier %></td>
      <td>
        <table style="width: 100%;">
          <th style="width: 80px">Liitto</th>
          <th>Ehdokas</th>
          <th style="width: 10px;">Ääniä</th>
          <th style="width: 10px;">Järjestys</th>
          <% draw.candidate_results.each do |candidate_result| %>
            <tr>
              <td><%= candidate_result.candidate.electoral_alliance.shorten %></td>
              <td><%= candidate_result.candidate.candidate_name %></td>
              <td><%= candidate_result.vote_sum_cache %></td>
              <td><%= candidate_result.send(order_method) %></td>
            </tr>
          <% end %>
        </table>
      </td>
      <td><%= link_to "Arvo koneella..", polymorphic_url(draw, :automatically => "true"),
                                        :method => 'put',
                                        :confirm => "Arvotaanko tunnuksen '#{draw.identifier}' järjestys koneellisesti?" %></td>
      <td><%= link_to "Arvo käsin..", draw %></td>
    </tr>
  <% end %>
</table>
