<table class="long-listing">
  <thead>
    <th>ID</th>
    <th>Ääniä</th>
    <th>Ehdokkaat</th>
    <th colspan="2">Arvonta</th>
  </thead>

  <% draws.each do |draw| %>
    <%= puts "draw: #{draw.inspect}"%>
    <tr id="draw_<%= draw.identifier -%>">
      <td><%= draw.identifier %></td>
      <td><%#= draw.candidate_results.first.vote_sum_cache %></td>
      <td>
        <ul>
          <% draw.candidate_results.each do |candidate_result| %>
          <li>
            <%= candidate_result.candidate.candidate_name %>: <%= candidate_result.send(order_method) %>
          </li>
          <% end %>
        </ul>
      </td>
      <td><%= link_to "Arvo koneella..", polymorphic_url(draw, :automatically => "true"),
                                        :method => 'put',
                                        :confirm => "Arvotaanko tunnuksen '#{draw.identifier}' järjestys koneellisesti?" %></td>
      <td><%= link_to "Arvo käsin..", draw %></td>
    </tr>
  <% end %>
</table>
