<p>
  &larr; <%= link_to "Takaisin hallintapaneeliin", admin_dashboard_path %>
</p>

<h1>Arvonnat</h1>

<% if not @result %>
  <p>Arvonnat voidaan aloittaa vasta sen jälkeen, kun
  <%= link_to "tarkastuslaskenta on merkitty valmiiksi", manage_danger_zone_path %>.</p>

   <p>Merkitsemisen jälkeen odota hetki, että arvonnat valmistellaan. Lataa sen jälkeen tämä sivu uudelleen.</p>
<% end %>

<ul>
  <li>Mikäli sivulla ei vielä näy suoritettavaa arvontaa, odota hetki ja lataa sivu uudelleen.</li>
  <li>Uuden arvontakierroksen valmistelu kestää 1-5 minuuttia.</li>
</ul>

<% if @result and @result.in_process? %>
  <p>
    Arvontojen valmistelu on vielä kesken. Odota hetki ja lataa tämä sivu sen jälkeen uudelleen.
  </p>

<% elsif @result %>
  <ul>
    <li><%= link_to "Väliaikainen vaalitulos", result_path(@result, :format => :text), :target => "_blank" %>,
    jota vasten arvonta suoritetaan (ei julkinen).</li>
  </ul>

  <% if @result.final? %>
    Arvonnat on suoritettu. Löydät lopullisen vaalituloksen <%= link_to "vaalitulossivulta", results_path %>.
  <% end %>

  <% if @result.pending_candidate_draws? %>
    <h2>Liiton sisällä saman äänimäärän saaneet ehdokkaat (<%= @result.candidate_draws.count %> kpl)</h2>
    <%= button_to "Merkitse äänimäärien arvonta valmiiksi!", candidate_draws_ready_path,
                                                             :method => :post,
                                                             :confirm => "Seuraavaksi siirrytään arpomaan liittovertailulukuja. Ok?" %>
    <br />
    <% if @result.candidate_draws.any? %>
      <%= render :partial => "listing", :locals => {:draws => @result.candidate_draws.for_drawings, :order_method => :candidate_draw_order} %>
    <% else %>
      <p>Saman äänimäärän saaneiden ehdokkaiden arvontoja ei ole.</p>
    <% end %>

  <% end %>

  <% if @result.pending_alliance_draws? %>

    <h2>Renkaan sisällä saman liittovertailuluvun saaneet ehdokkaat (<%= @result.alliance_draws.count %> kpl)</h2>
    <%= button_to "Merkitse liittovertailukuarvonta valmiiksi!", alliance_draws_ready_path,
                                                             :method => :post,
                                                             :confirm => "Seuraavaksi siirrytään arpomaan rengasvertailulukuja. Ok?" %>

    <br />
    <% if @result.alliance_draws.any? %>
      <%= render :partial => "listing", :locals => {:draws => @result.alliance_draws.for_drawings, :order_method => :alliance_draw_order} %>
    <% else %>
      <p>Saman liittovertailulukujen saaneiden ehdokkaiden arvontoja ei ole.</p>
    <% end %>

  <% end %>

  <% if @result.pending_coalition_draws? %>

    <h2>Saman rengasvertailuluvun saaneet ehdokkaat (<%= @result.coalition_draws.count %> kpl)</h2>
    <%= button_to "Merkitse rengasvertailukuarvonta valmiiksi!", coalition_draws_ready_path,
                                                             :method => :post,
                                                             :confirm => "Seuraavaksi lasketaan lopullinen vaalitulos. Ok?" %>

    <br />
    <% if @result.coalition_draws.any? %>
      <%= render :partial => "listing", :locals => {:draws => @result.coalition_draws.for_drawings, :order_method => :coalition_draw_order} %>
    <% else %>
      <p>Saman rengasvertailulukujen saaneiden ehdokkaiden arvontoja ei ole.</p>
    <% end %>

  <% end %>

<% end %>