<%= link_to "Kirjaudu ulos", logout_advocate_session_path %>

<% if @advocate.electoral_alliances.empty? %>

<h1>Virhe?</h1>

<p>
  Käyttäjätunnukseesi ei ole kytketty yhtään vaaliliittoa. Ota yhteys HYYn vaalityöntekijään!
</p>

<% end %>

<% @advocate.electoral_alliances.each do |alliance| -%>
  <h2><%= alliance.name %></h2>


  <p>Ohjeet:</p>
  <ul>
    <li>Tee korjaus valitsemalla ehdokkaan riviltä "Muokkaa".</li>
    <li>Merkintä * tarkoittaa, että ehdokkaan tiedoissa on korjauksia.</li>
    <li>HYYn vaalityöntekijä hyväksyy esitetyt korjaukset jos niissä ei ole selkeää virhettä.</li>
    <li>Sivua voi olla helpompi lukea, jos zoomaat sitä vähän pienemmäksi (ctrl-miinus ja ctrl-plus).</li>
  </ul>

  <table class="long-listing nowrap">
    <thead>
      <tr>
        <th></th>
        <th>Sukunimi</th>
        <th>Etunimet</th>
        <th>Ehdokasnimi</th>
        <th>Hetu</th>
        <th>Postisoite</th>
        <th>Postioimipaikka</th>
        <th>Sähköposti</th>
        <th>Tiedekunta</th>
        <th>Huomiot</th>
        <th></th>
      </tr>
    </thead>
  <% alliance.candidates.each do |candidate| -%>
    <tr>
      <td style="padding-right: 5px;"><%= '*' if candidate.has_fixes %></td>
      <td><%= candidate.lastname %></td>
      <td><%= candidate.firstname %></td>
      <td><%= candidate.candidate_name %></td>
      <td><%= candidate.social_security_number %></td>
      <td><%= candidate.address %></td>
      <td><%= candidate.postal_information %></td>
      <td><%= candidate.email %></td>
      <td><%= candidate.faculty.name %></td>
      <td><%= candidate.notes %></td>
      <td><%= link_to 'Muokkaa', advocate_candidate_path(candidate.id) %></td>
    </tr>
  <% end -%>
  </table>
  <hr />
<% end -%>
