<h1>Liittojen väliset arvonnat</h1>

<p><%= link_to 'Takaisin kaikkiin arvontoihin', draws_path %></p>

<p><%= link_to 'Merkitse liittojen väliset arvonnat valmiiksi', ready_draws_alliances_path, :method => :post %></p>

<% if flash[:alert] -%>
  <p class="alert"><%= flash[:alert] %></p>
<% end -%>

<% @alliance_draws.each do |draw| -%>
  <div class="draw" id="draw_<%= draw.id %>">
    <ul>
      <% draw.alliance_drawings.rank(:position_in_draw).each_with_index do |drawing, i| -%>
        <li><%= get_draw_candidate_from_alliance(drawing) %>: <%= i+1 if draw.drawed %></li>
      <% end -%>
    </ul>
    <p><%= link_to 'Siirry arvontaan', edit_draws_alliance_path(draw.id) %></p>
  </div>
<% end -%>
