<button id="enable-sorting" data-sortable-element="table#candidates tbody">Muuta ehdokkaiden järjestystä</button>
<button id="disable-sorting" style="display:none;">Lopeta ehdokkaiden järjestäminen</button>

<table id="candidates" class="long-listing">
  <thead>
    <th>Nro</th>
    <th>Ehdokasnimi</th>
    <th>Sukunimi</th>
    <th>Etunimi</th>
    <th>Henkilötunnus</th>
    <th>Postiosoite</th>
    <th>Postinro ja -toimipaikka</th>
    <th>Sähköposti</th>
    <th>Tiedekunta</th>
    <th>Huomioita</th>
  </thead>

  <tbody>

    <% candidates.each do |c| %>

    <tr data-scope="<%= scope %>" data-alliance-id="<%= c.electoral_alliance.id -%>" data-candidate-id="<%= c.id -%>" class="<%= cycle('odd', 'even') %>">
      <td><%= c.candidate_number %></td>
      <td><%= link_to c.candidate_name, link_to_edit_candidate(scope, c) %></td>
      <td><%= c.lastname %></td>
      <td><%= c.firstname %></td>
      <td><%= c.social_security_number %></td>
      <td><%= c.address %></td>
      <td><%= c.postal_information %></td>
      <td><%= c.email %></td>
      <td><%= c.faculty.name if c.faculty %></td>
      <td><%= c.notes %></td>
    </tr>

    <% end %>

  </tbody>

</table>