<%# This partial is shared between ActiveAdmin and AdvocateUser Alliance views %>

<h2><%= t(".heading") %></h2>

<% if can? :edit, Candidate %>
  <div style="margin-bottom: 0.5em">
    <button id="enable-sorting" class="btn" data-sortable-element="table#candidates tbody"><%= t(".enable_sorting") %></button>
    <button id="disable-sorting" class="btn" style="display:none;"><%= t(".disable_sorting") %></button>
    <div class="alert alert-info sortable-hint" style="display:none;">
      <ul>
        <li><%= t(".sorting_hint_1") %></li>
        <li><%= t(".sorting_hint_2") %></li>
        <li><%= t(".sorting_hint_3") %></li>
        <li><%= t(".sorting_hint_4") %></li>
      </ul>
    </div>
  </div>
<% end %>

<table id="candidates" class="wide-listing">
  <thead>
    <th>
      <% if GlobalConfiguration.candidate_data_frozen? %>
        <%= t(".number") %>
      <% else %>
        <%= t(".status") %>
      <% end %>
    </th>
    <th><%= t(".candidate_name") %></th>
    <th><%= t(".lastname") %></th>
    <th><%= t(".firstname") %></th>
    <th><%= t(".student_number") %></th>
    <th><%= t(".address") %></th>
    <th><%= t(".postal_code") %></th>
    <th><%= t(".city") %></th>
    <th><%= t(".phone") %></th>
    <th><%= t(".email") %></th>
    <th><%= t(".faculty") %></th>
    <th><%= t(".notes") %></th>
  </thead>

  <tbody>
    <% alliance.candidates.by_numbering_order.each do |c| %>

    <tr data-scope="<%= scope %>" data-alliance-id="<%= alliance.id -%>" data-candidate-id="<%= c.id -%>" class="<%= cycle('odd', 'even') %>">
      <td>
        <% if GlobalConfiguration.candidate_data_frozen? %>
          <%= c.candidate_number %>
        <% else %>
          <% if c.alliance_accepted? %>
            &#x2705;&nbsp;OK <%# green tick symbol %>
          <% else %>
            <% if can? :edit, Candidate %>
              <%= button_to t(".accept"),
                link_to_accept_candidate_to_alliance(scope, c),
                method: :put,
                data: { confirm: t(".accept_confirm", name: c.candidate_name) }
              %>
            <% else %>
              "?" <%# Cannot be edited but needs to be accepted - contact admin %>
            <% end %>
          <% end %>
        <% end %>
      </td>
      <td>
        <% if can? :edit, Candidate %>
          <%= link_to c.candidate_name, link_to_edit_candidate(scope, c) %>
        <% else %>
          <%= c.candidate_name %>
        <% end %>
      </td>
      <td><%= c.lastname %></td>
      <td><%= c.firstname %></td>
      <td><%= c.student_number %></td>
      <td><%= c.address %></td>
      <td><%= c.postal_code %></td>
      <td><%= c.postal_city %></td>
      <td><%= c.phone_number %></td>
      <td><%= c.email %></td>
      <td>
        <% if c.faculty %>
          <abbr title="<%= c.faculty.name -%>">
            <%= c.faculty.code %>
          </abbr>
        <% end %>
      </td>
      <td><%= c.notes %></td>
    </tr>

    <% end %>
  </tbody>
</table>

<% if alliance.candidates.cancelled.present? %>
  <h2><%= t(".cancelled_heading") %></h2>

  <table id="cancelled-candidates" class="wide-listing">
    <thead>
      <th><%= t(".status") %></th>
      <th><%= t(".candidate_name") %></th>
      <th><%= t(".lastname") %></th>
      <th><%= t(".firstname") %></th>
      <th><%= t(".student_number") %></th>
      <th><%= t(".address") %></th>
      <th><%= t(".postal_code") %></th>
      <th><%= t(".city") %></th>
      <th><%= t(".phone") %></th>
      <th><%= t(".email") %></th>
      <th><%= t(".faculty") %></th>
      <th><%= t(".notes") %></th>
    </thead>

    <tbody>
      <% alliance.candidates.cancelled.each do |c| %>
        <tr>
          <td>&#x274c;&nbsp;<%= t(".cancelled") %><%# red crossmark %></td>
          <td>
            <% if can? :edit, Candidate %>
              <%= link_to c.candidate_name, link_to_edit_candidate(scope, c) %>
            <% else %>
              <%= c.candidate_name %>
            <% end %>
          </td>
          <td><%= c.lastname %></td>
          <td><%= c.firstname %></td>
          <td><%= c.student_number %></td>
          <td><%= c.address %></td>
          <td><%= c.postal_code %></td>
          <td><%= c.postal_city %></td>
          <td><%= c.phone_number %></td>
          <td><%= c.email %></td>
          <td>
            <% if c.faculty %>
              <abbr title="<%= c.faculty.name -%>">
                <%= c.faculty.code %>
              </abbr>
            <% end %>
          </td>
          <td><%= c.notes %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
