<div style="margin-bottom: 0.5em">
  <button id="enable-sorting" class="btn" data-sortable-element="table#candidates tbody">Muuta ehdokkaiden järjestystä</button>
  <button id="disable-sorting" class="btn" style="display:none;">Lopeta ehdokkaiden järjestäminen</button>
  <div class="alert alert-info sortable-hint" style="display:none;">
    <ul>
      <li>Muuta ehdokkaiden järjestystä ottamalla hiirellä kiinni rivistä ja vetämällä sitä alas- tai ylöspäin.</li>
      <li>Muutos tallennetaan jokaisen siirron jälkeen.</li>
      <li>Kun olet valmis, klikkaa "Lopeta järjestäminen" jolloin sivu latautuu uudelleen.</li>
      <li>Lopetusnapin painamisen jälkeen tarkista, että ehdokkaat ovat haluamassasi järjestyksessä.</li>
    </ul>
  </div>
</div>

<table id="candidates" class="long-listing">
  <thead>
    <% if current_admin_user -%><th>Nro</th><% end -%>
    <th>Ehdokasnimi</th>
    <th>Sukunimi</th>
    <th>Etunimi</th>
    <th>Henkilötunnus</th>
    <th>Postiosoite</th>
    <th>Postinro ja -toimipaikka</th>
    <th>Sähköposti</th>
    <th>Tiedekunta</th>
    <th>Huomioita</th>
  </thead>

  <tbody>

    <% candidates.each do |c| %>

    <tr data-scope="<%= scope %>" data-alliance-id="<%= c.electoral_alliance.id -%>" data-candidate-id="<%= c.id -%>" class="<%= cycle('odd', 'even') %>">
      <% if current_admin_user -%><td><%= c.candidate_number %></td><% end -%>
      <td><%= link_to c.candidate_name, link_to_edit_candidate(scope, c) %></td>
      <td><%= c.lastname %></td>
      <td><%= c.firstname %></td>
      <td><%= c.social_security_number %></td>
      <td><%= c.address %></td>
      <td><%= c.postal_information %></td>
      <td><%= c.email %></td>
      <td><%= c.faculty.name if c.faculty %></td>
      <td><%= c.notes %></td>
    </tr>

    <% end %>

  </tbody>

</table>