<script>
  $(function() {
    var sortableClass          = "sortable";
    var sortableCandidates     = "table#candidates tbody.sortable";
    var enableSortingElement   = "#enable-sorting";
    var disableSortingElement  = "#disable-sorting";

    function enableSorting() {
      $( sortableCandidates ).sortable({
        update: function(event, ui) {
          var new_position = ui.item.index();
          var alliance_id  = ui.item.attr("data-alliance-id");
          var candidate_id = ui.item.attr("data-candidate-id");

          $.ajax({
            type: 'PUT',
            url: '/advocates/alliances/'+ alliance_id +'/candidates/'+ candidate_id,
            dataType: 'json',
            data: { candidate: { numbering_order_position: new_position } },
          });
        }
      });

      $( sortableCandidates ).disableSelection();
    }

    $( enableSortingElement ).click(function() {
      var triggerElement  = $(enableSortingElement);

      var sortableElement = $(triggerElement.attr("data-sortable-element"));
      sortableElement.addClass(sortableClass);

      triggerElement.hide();
      $(disableSortingElement).show();

      enableSorting();
    }),

    $( disableSortingElement ).click(function() {
      window.location.reload();
    })
  });
</script>

<button id="enable-sorting" data-sortable-element="table#candidates tbody">Muuta ehdokkaiden järjestystä</button>
<button id="disable-sorting" style="display:none;">Lopeta ehdokkaiden järjestäminen</button>

<table id="candidates" class="long-listing">
  <thead>
    <th></th>
    <th>Sukunimi</th>
    <th>Etunimi</th>
    <th>Ehdokasnimi</th>
    <th>Henkilötunnus</th>
    <th>Postiosoite</th>
    <th>Postinro ja -toimipaikka</th>
    <th>Sähköposti</th>
    <th>Tiedekunta</th>

  </thead>

  <tbody>

    <% candidates.each do |c| %>

    <tr data-alliance-id="<%= c.electoral_alliance.id -%>" data-candidate-id="<%= c.id -%>">
      <td><%= link_to "Muokkaa", edit_advocates_alliance_candidate_path(c.electoral_alliance, c) %></td>
      <td><%= c.candidate_name %></td>
      <td><%= c.lastname %></td>
      <td><%= c.firstname %></td>
      <td><%= c.social_security_number %></td>
      <td><%= c.address %></td>
      <td><%= c.postal_information %></td>
      <td><%= c.email %></td>
      <td><%= c.faculty.name if c.faculty %></td>
    </tr>

    <% end %>

  </tbody>

</table>