<% if can? :edit, Candidate %>
  <div style="margin-bottom: 0.5em">
    <button id="enable-sorting" class="btn" data-sortable-element="table#candidates tbody">Muuta ehdokkaiden järjestystä</button>
    <button id="disable-sorting" class="btn" style="display:none;">Lopeta ehdokkaiden järjestäminen</button>
    <div class="alert alert-info sortable-hint" style="display:none;">
      <ul>
        <li>Muuta ehdokkaiden järjestystä ottamalla hiirellä kiinni rivistä ja vetämällä sitä alas- tai ylöspäin.</li>
        <li>Muutos tallennetaan jokaisen siirron jälkeen.</li>
        <li>Kun olet valmis, klikkaa "Lopeta järjestäminen" jolloin sivu latautuu uudelleen.</li>
        <li>Lopetusnapin painamisen jälkeen tarkista, että ehdokkaat ovat haluamassasi järjestyksessä.</li>
      </ul>
    </div>
  </div>
<% end %>

<table id="candidates" class="wide-listing">
  <thead>
    <th>Nro</th>
    <th>Ehdokasnimi</th>
    <th>Sukunimi</th>
    <th>Etunimet</th>
    <th>Hetu</th>
    <th>Postiosoite</th>
    <th>Toimipaikka</th>
    <th>Sähköposti</th>
    <th>Tdk</th>
    <th>Huomioita</th>
  </thead>

  <tbody>

    <% candidates.each do |c| %>

    <tr data-scope="<%= scope %>" data-alliance-id="<%= c.electoral_alliance.id -%>" data-candidate-id="<%= c.id -%>" class="<%= cycle('odd', 'even') %>">
      <td><%= c.candidate_number %></td>
      <td>
        <% if can? :edit, Candidate %>
          <%= link_to c.candidate_name, link_to_edit_candidate(scope, c) %>
        <% else %>
          <%= c.candidate_name %>
        <% end %>
      </td>
      <td><%= c.lastname %></td>
      <td><%= c.firstname %></td>
      <td><%= c.social_security_number %></td>
      <td><%= c.address %></td>
      <td><%= c.postal_information %></td>
      <td><%= c.email %></td>
      <td>
        <% if c.faculty %>
          <abbr title="<%= c.faculty.name -%>">
            <%= c.faculty.code %>
          </abbr>
        <% end %>
      </td>
      <td><%= c.notes %></td>
    </tr>

    <% end %>

  </tbody>

</table>