<p>
  &larr; <%= link_to t(".back"), advocates_alliance_path(@alliance) %>
</p>

<h1><%= t(".heading") %></h1>

<ul>
  <li><strong><%= t(".alliance") %></strong> <%= @candidate.electoral_alliance.name %>
  <li><strong><%= t(".candidate") %></strong> <%= @candidate.candidate_name %>
</ul>

<%= semantic_form_for @candidate, :url => advocates_alliance_candidate_path(@alliance) do |f| %>
  <%= render partial: "common/candidates/form",
    locals: {
      candidate: @candidate,
      read_only: false,
      f: f
    }
  %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :button, :label => t(".save") %>
  <% end %>
<% end %>
