<p>
  &larr; <%= link_to "Palaa tallentamatta", advocates_alliance_path(@alliance) %>
</p>

<h1>Uusi ehdokas</h1>

<%= semantic_form_for @candidate, url: advocates_alliance_candidates_path(@alliance) do |f| %>
  <%= render partial: "common/candidates/form",
    locals: {
      candidate: @candidate,
      read_only: false,
      f: f
    }
  %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :button, :label => "Tallenna" %>
  <% end %>
<% end %>
