<h1><%= t(".heading") %></h1>

<h2><%= t(".alliance_heading") %></h2>
<%= render partial: "one_alliance", locals: { alliance: @candidate.electoral_alliance } %>

<h2><%= t(".candidate_heading") %></h2>
<%= semantic_form_for @candidate, :url => registrations_candidate_path(invite_code: @invite_code_upcase) do |f| %>
  <%= render partial: "common/candidates/form",
    locals: {
      candidate: @candidate,
      f: f,
      read_only: false
    }
  %>

  <%= f.actions do %>
    <%= f.action :submit, as: :button, label: t(".save") %>
  <% end %>
<% end %>

<hr>

<div class="align-with-formtastic-btn">
  <%= button_to t(".cancel_candidacy"),
    cancel_registrations_candidate_path,
    class: "btn btn-danger",
    method: :post,
    data: { confirm: t(".cancel_confirm") }
  %>
</div>
