<h1><%= t(".heading") %></h1>

<h2><%= t(".alliance_heading") %></h2>
<%= render partial: "one_alliance", locals: { alliance: @alliance } %>

<h2><%= t(".candidate_heading") %></h2>
<%= semantic_form_for @candidate, :url => registrations_candidate_path(invite_code: @invite_code_upcase) do |f| %>
  <%= render partial: "common/candidates/form",
    locals: {
      candidate: @candidate,
      f: f,
      read_only: false
    }
  %>

  <li class="input required" id="candidate_electoral_alliance_id">
    <label
      for="candidate_electoral_alliance_id"
      class="label"><%= t(".alliance_label") %><abbr title="required">*</abbr>
    </label>
    <span>
      <%= @alliance.name %>
    </span>
  </li>

  <%= f.actions do %>
    <%= f.action :submit, :as => :button, :label => t(".save") %>
  <% end %>
<% end %>
