<h1><%= t(".heading") %></h1>

<ul>
  <li><%= t(".contact_advocate") %></li>
  <li><%= t(".contact_hyy") %></li>
  <li><%= t(".student_number", number: current_haka_user.student_number) %>
</ul>

<% if @candidate %>
  <p>
    <%= t(".received") %>

    <% if @candidate.alliance_accepted? %>
      <%= t(".alliance_accepted") %>
    <% else %>
      <%= t(".alliance_pending") %>
    <% end %>
  </p>

  <h2><%= t(".alliance_heading") %></h2>
  <%= render partial: "one_alliance", locals: { alliance: @candidate.electoral_alliance } %>

  <h2><%= t(".candidate_heading") %></h2>
  <%= semantic_form_for @candidate, url: registrations_candidate_path(invite_code: @invite_code_upcase) do |f| %>
    <%= render partial: "common/candidates/form",
      locals: {
        candidate: @candidate,
        f: f,
        read_only: true
      }
    %>
  <% end %>

  <div class="align-with-formtastic-btn">
    <p>
      <%= t(".received") %>
      <br>

      <% if @candidate.alliance_accepted? %>
        <%= t(".alliance_accepted") %>
      <% else %>
        <%= t(".alliance_pending") %>
      <% end %>
    </p>

    <% if can? :update, @candidate %>
      <%= link_to t(".edit"),
        edit_registrations_candidate_path,
        class: "non-formtastic-btn btn btn-primary"
      %>
    <% end %>
  </div>
<% else %>
  <p>
    <%= t(".no_registration_html",
      link: link_to(t(".back_link"), registrations_root_path)) %>
  </p>
<% end %>

<% if @cancelled_candidates.present? %>
  <h2><%= t(".cancelled_heading") %></h2>

  <p>
    <%= t(".cancelled_info") %>
  </p>

  <dl>
    <% @cancelled_candidates.each do |cancelled| %>
      <dt><%= friendly_datetime(cancelled.cancelled_at) %></dt>
        <dd><%= cancelled.electoral_alliance.name %></dd>
    <% end %>
  </dl>
<% end %>
