<h1>Ehdokasilmoittautuminen</h1>

<ul>
  <li>Ehdokkuuteesi liittyvissä kysymyksissä ole ensisijaisesti yhteydessä vaaliliittosi edustajaan.</li>
  <li>Tarvittaessa myös vaalit@hyy.fi vastaa kysymyksiin.</li>
  <li>Opiskelijanumerosi on <%= current_haka_user.student_number %>
</ul>

<% if @candidate %>
  <p>
    Ehdokasilmoittautumisesi on vastaanotettu.

    <% if @candidate.alliance_accepted? %>
      Vaaliliiton edustaja on hyväksynyt ehdokkuutesi vaaliliittoon.
    <% else %>
      Vaaliliiton edustajan tulee vielä hyväksyä ehdokkuutesi vaaliliittoon.
    <% end %>
  </p>

  <h2>Vaaliliiton tiedot</h2>
  <%= render partial: "one_alliance", locals: { alliance: @candidate.electoral_alliance } %>

  <h2>Ehdokastiedot</h2>
  <%= semantic_form_for @candidate, url: registrations_candidate_path(invite_code: @invite_code_upcase) do |f| %>
    <%= render partial: "common/candidates/form",
      locals: {
        candidate: @candidate,
        f: f,
        read_only: true
      }
    %>
  <% end %>

  <div class="align-with-formtastic-btn">
    <p>
      Ehdokasilmoittautumisesi on vastaanotettu.
      <br>

      <% if @candidate.alliance_accepted? %>
        Vaaliliiton edustaja on hyväksynyt ehdokkuutesi vaaliliittoon.
      <% else %>
        Vaaliliiton edustajan tulee vielä hyväksyä ehdokkuutesi vaaliliittoon.
      <% end %>
    </p>

    <% if can? :update, @candidate %>
      <%= link_to "Muokkaa",
        edit_registrations_candidate_path,
        class: "non-formtastic-btn btn btn-primary"
      %>
    <% end %>
  </div>
<% else %>
  <p>
    Luodaksesi uuden ehdokasilmoittautumisen,
    <%= link_to "palaa alkusivulle", registrations_root_path %>
    ja syötä vaaliliiton kutsukoodi.
  </p>
<% end %>

<% if @cancelled_candidates.present? %>
  <h2>Perutut ehdokkuudet</h2>

  <p>
    Opiskelijanumerollasi on aiemmin tehty ehdokasilmoittautuminen, joka on sittemmin peruttu.
  </p>

  <dl>
    <% @cancelled_candidates.each do |cancelled| %>
      <dt><%= friendly_datetime(cancelled.cancelled_at) %></dt>
        <dd><%= cancelled.electoral_alliance.name %></dd>
    <% end %>
  </dl>
<% end %>
