<h2>Vaaliliiton asiamiehen sisäänkirjautuminen</h2>

<% if GlobalConfiguration.advocate_login_enabled? %>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label "Käyttäjätunnus" %><br />
    <%= f.email_field :email %></div>

    <div><%= f.label "Salasana" %><br />
    <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div>
        <%= f.submit "Kirjaudu sisään", :class => "btn btn-primary" %>
    </div>
  <% end %>

<% else %>
  <p>
      Asiamiesten sisäänkirjautuminen on toistaiseksi pois käytöstä.
      <br>
      Syynä voi olla Keskusvaalilautakunnan kokous, jonka aikana järjestelmän tiedot halutaan pitää muuttumattomina.
  </p>

  <p>
      Mikäli sisäänkirjautuminen ei palaudu kohtuullisessa ajassa, ota yhteys HYYn vaalityöntekijään.
  </p>

  <p>
      Lisätietoa osoitteessa <a href="http://hyy.fi/vaalit">hyy.fi/vaalit</a>.
  </p>

<% end %>
