&laquo; <%= link_to "Palaa pääsivulle", voting_path %>

<% if @voting_area.submitted? -%>
  <p class="alert alert-info">
      Äänestysalue on merkitty syötetyksi eikä sen tietoja voi enää muuttaa ennen tarkastuslaskentaa.
  </p>
<% else -%>
  <p>
     <%= link_to "Merkitse äänestysalue syötetyksi",
                  mark_submitted_voting_vote_amounts_path,
                  :method => :post,
                  :class => "btn btn-danger",
                  :confirm => 'Onko kaikki äänet varmasti syötetty?' %>
  </p>
<% end -%>


<h1>
  Äänestysalue <%= @voting_area.code %><br />
  <%= @voting_area.name %>
</h1>

<h2>Ääntenlaskentapöytäkirja</h2>

<ul>
  <li>Syötä ehdokasnumero ja numeroa vastaava kokonaisäänimäärä.</li>
  <li>Voit syöttää korkeintaan kymmenen ehdokkaan äänimäärän kerrallaan ennen kuin tulokset täytyy tallentaa.</li>
  <li>Voit korjata tallennettua tietoa: uuden äänimäärän syöttäminen ehdokasnumerolle korvaa aiemmin samalle ehdokasnumerolle syötetyt äänet.</li>
  <li>Esimerkiksi: Ehdokasnumerolle 123 on syötetty 98 ääntä ja tämä äänimäärä näkyy listauksessa. Jos ehdokasnumerolle syötetään uusi äänimäärä 100 ääntä, ehdokasnumerolla 123 on tallennuksen jälkeen yhteensä 100 ääntä.</li>
  <li>Lopuksi käy antamasi tiedot läpi ja merkitse äänestysalue syötetyksi.</li>
  <li>Äänestysalue voidaan ottaa mukaan äänenlaskentaan vasta, kun se on merkitty syötetyksi.</li>
</ul>


<% if @voting_area.votes.count > 0 -%>
<table id="voting-area" class="long-listing">
  <thead>
    <tr>
      <th colspan="4">Äänestysalue <%= @voting_area.code %> - <%= @voting_area.name %></th>
    </tr>
    <tr>
      <th>Ehdokasnumero</th>
      <th>Äänimäärä</th>
    </tr>
  </thead>

  <% @voting_area.votes.each do |vote| -%>
    <% next if vote.amount == 0 -%>
    <tr>
      <td><%= vote.candidate.candidate_number %></td>
      <td><%= vote.amount %></td>
    </tr>
  <% end -%>
</table>
<% end -%>

<% unless @voting_area.submitted? -%>

  <% if flash[:invalid_candidate_numbers] and flash[:invalid_candidate_numbers].any? %>
    <div class="error">
      <p>
        Annoit seuraavat virheelliset ehdokasnumerot:
         <%= flash[:invalid_candidate_numbers].join(", ") %>
      </p>
    </div>
  <% end %>

  <%= form_tag voting_vote_amounts_path, :method => :post do -%>

    <table id="submit-votes">
      <tr>
        <th>Ehdokasnumero</th>
        <th>Äänimäärä</th>
      </tr>
    <% 10.times do |i| -%>
      <tr>
        <td>
          <input type="text" id="candidate_numbers_<%= i %>" name="votes[<%= i %>]candidate_number" />
        </td>
        <td>
          <input type="text" id="vote_amounts_<%= i %>" name="votes[<%= i %>]vote_amount" />
        </td>
      </tr>
    <% end -%>
    </table>
    <p><input type="submit" value="Tallenna äänet" class="btn btn-primary" /></p>
  <% end -%>

<% end -%>
