<h2>Vaaliliiton ensisijainen edustaja</h2>
  <%= current_advocate_user.friendly_name %> (<%= current_advocate_user.email %>)

<h2>Vaaliliitto</h2>

<%= f.input :name,
  :label => "Vaaliliiton nimi"
%>

<%= f.input :shorten,
  :label => "Vaaliliiton lyhenne (2-6 merkkiä)",
  :hint => "Lyhennettä käytetään vaalituloksen esittämisessä: esimerkiksi TaVi, ParasS, WTF. HYY varaa itselleen oikeuden muuttaa lyhennettä tarvittaessa."
%>

<%= f.input :expected_candidate_count,
  label: "Ehdokkaiden odotettu lukumäärä",
  hint:
    "Jätä kenttä tyhjäksi, jos ehdokkaiden odotettu lukumäärä ei ole vielä tiedossa.
    Ehdokkaiden odotettu lukumäärä on syötettävä ennen ehdokasasettelun päättymistä.
    Tietoa käytetään varmistamaan, että kaikki ehdokastiedot on ilmoitettu."
%>

<%= f.input :invite_code,
  label: "Kutsukoodi vaaliliittoon ilmoittautumiseksi",
  hint: "Kutsukoodi suojaa vaaliliittoa tuntemattomilta ehdokkailta.
    <br><br>
    Ehdokkaaksi ilmoittautuvan henkilön on tunnettava kutsukoodi
    voidakseen ilmoittautua vaaliliiton ehdokkaaksi.
    Vaaliliiton edustaja saa asettaa kutsukoodin vapaasti.
    Kutsukoodin tulee olla voimassa sillä hetkellä, kun ehdokasilmoittautuminen rekisteröidään.
    <br><br>
    Kutsukoodin vaihtaminen ei vaikuta aiemmin vastaanotettuihin ilmoittautumisiin.
    Kun kutsukoodi vaihdetaan uuteen, edellisellä kutsukoodilla ei voi luoda uutta ilmoittautumista.".html_safe
 %>
