<%= f.input :name,    :label => "Vaaliliiton nimi" %>
<%= f.input :shorten, :label => "Vaaliliiton lyhenne (2-6 merkkiä)", :hint => "Lyhennettä käytetään vaalituloksen esittämisessä: esimerkiksi TaVi, ParasS, WTF. HYY varaa itselleen oikeuden muuttaa lyhennettä tarvittaessa." %>

<%= f.input :expected_candidate_count, :label => "Kuinka monta ehdokasta liittoon tulee" %>

<h2>Vaaliliiton ensisijainen asiamies:</h2>
<dl>
  <dt>Nimi</dt>
    <dd><%= current_advocate_user.friendly_name %></dd>
  <dt>Sähköposti</dt>
    <dd><%= current_advocate_user.email %></dd>
  <dt>Henkilöturvatunnus</dt>
    <dd><%= current_advocate_user.ssn %></dd>
</dl>

<%= %>
