<h2><%= t(".primary_advocate_heading") %></h2>
  <%= current_advocate_user.friendly_name %> (<%= current_advocate_user.email %>)

<h2><%= t(".alliance_heading") %></h2>

<%= f.input :name,
  :label => t(".name_label")
%>

<%= f.input :shorten,
  :label => t(".shorten_label"),
  :hint => t(".shorten_hint")
%>

<%= f.input :expected_candidate_count,
  label: t(".expected_count_label"),
  hint: t(".expected_count_hint")
%>

<%= f.input :invite_code,
  label: t(".invite_code_label"),
  hint: t(".invite_code_hint_html")
 %>
