<p>
  &larr; <%= link_to "Palaa tallentamatta", advocates_alliance_path(@alliance) %>
</p>

<%= semantic_form_for @alliance, :url => advocates_alliance_path(@alliance) do |f| %>

  <%= render :partial => "form", :locals => { :alliance => @alliance, :f => f } %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :button, :label => "Tallenna" %>
  <% end %>
<% end %>
