<h1>Vaaliliitot</h1>

<p>
  <% if can? :create, ElectoralAlliance %>
    &raquo; <%= link_to "Luo uusi vaaliliitto", new_advocates_alliance_path %>
  <% else %>
    Ehdokasasettelu on päättynyt eikä uusia vaaliliittoja voi enää luoda eikä nykyisten tietoja muuttaa.
  <% end %>
</p>

<% if @alliances.any? %>
  <table>
    <thead>
      <th>Vaaliliitto</th>
      <th>Ehdokkaita syötetty</th>
      <th>Ehdokkaita yhteensä</th>
      <th>Valmis?</th>
      <th><i class="icon-share"></i> CSV</th>
      <th><i class="icon-share"></i> CSV</th>
    </thead>

    <tbody>
      <% @alliances.each do |a| %>
        <tr>
          <td><%= link_to a.name, advocates_alliance_path(a) %></td>
          <td><%= a.candidates.count %></td>
          <td><%= a.expected_candidate_count %></td>
          <td>
            <% if alliance_ready?(a) %>
              <span class='alliance-ready'>OK</span>
            <% else %>
              Tarkista ehdokasmäärä.
            <% end %>
          </td>
          <td><%= link_to "ISO-Latin", advocates_alliance_path(a, :format => :csv, :isolatin => true) %></td>
          <td><%= link_to "UTF-8", advocates_alliance_path(a, :format => :csv) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h3>Ehdokasasettelu päättyy <%= friendly_datetime(GlobalConfiguration.candidate_nomination_ends_at) %></h3>
  <ul>
    <li>
      Edustaja vastaa siitä, että vaaliliiton kaikki ehdokkaat ovat järjestelmässä ehdokasasettelun
      päättymiseen mennessä.
    </li>
    <li>
      Ehdokasasettelun päättymisen jälkeen tietoihin voi tehdä korjauksia ehdokasilmoituksen
      perumisen määräaikaan saakka.
    </li>
    <li>
      Ehdokastietojen korjausten, järjestyksen ja peruutusten määräaika:
      <%= friendly_datetime(GlobalConfiguration.candidate_data_is_freezed_at) %>
    </li>
  </ul>
</p>

<h3>Ehdokasnumeroinnista:</h3>
  <ul>
    <li>
      Ehdokasnumerot määräytyvät vaaliliiton sisällä ehdokkaiden järjestyksen mukaan.
    </li>

    <li>
      Ehdokkaiden järjestys on <strong>aina</strong> vaaliliiton edustajan vastuulla.
      <br>
      Uudet ehdokasilmoittautumiset eivät asetu valmiiksi esimerkiksi aakkosjärjestykseen,
      <br>
      koska ei ole takeita, onko aakkosjärjestys vaaliliiton ehdokkaiden toivottu järjestys.
    </li>


    <li>
      Tarkista ehdokkaiden järjestys ehdokasasettelun päättymisen jälkeen ennen
      korjausten määräaikaa
      <%= friendly_datetime(GlobalConfiguration.candidate_data_is_freezed_at) %>.
    </li>

    <li>
      Perutut ehdokasilmoittautumiset eivät vaikuta ehdokasnumerointiin.
    </li>
  </ul>

<h3>Vaalirenkaista:</h3>
  <ul>
    <li>
      Vaaliliitot asettuvat vaalirenkaasssa vaalirenkaan edustajan määrittämään järjestykseen.
    </li>

    <li>
      Ehdokasnumerot määräytyvät vaalirenkaan sisällä vaaliliittojen järjestyksen mukaan.
    </li>

    <li>
      Keskusvaalilautakunta arpoo vaalirenkaiden keskinäisen järjestyksen ehdokasnumerointia varten.
    </li>
  </ul>

<h3>CSV-tiedoston tuominen Exceliin (ISO-Latin):</h3>
  <ol>
    <li>Avaa CSV-tiedosto Exceliin.</li>
    <li>Valitse ja mustaa koko sarake 'A'.</li>
    <li>Valitse: Tiedot > Teksti sarakkeisiin</li>
    <li>Valitse: Tiedostolaji: Erotettu > Seuraava.</li>
    <li>Valitse: Erottimet: Pilkku > Valmis.</li>
  </ol>

<p>
  Jos CSV-tiedoston ääkköset näkyvät väärin ISO-Latin-merkistökoodauksella,
  kokeile UTF-8-versiota.
</p>
