<h1>Vaalirengas</h1>

<p>
  Edustajatiimi jakaa näkyvyyden vaalirenkaan vaaliliittojen ehdokkaisiin.
  Vain vaaliliiton oma edustaja voi muokata ehdokastietoja.
</p>

<% if @advocate_team.present? %>
  <dl>
    <dt>Edustajatiimi</dt>
    <dd><%= @advocate_team.name %></dd>

    <dt>Tiimin jäsenet</dt>
    <dd>
      <%= @advocate_team.advocate_users.map(&:friendly_name).join(", ") %>
    </dd>
  </dl>

  <% if @advocate_team.electoral_coalition.present? %>
    <h2><%= @advocate_team.electoral_coalition.name %></h2>
  <% else %>
    <p>
      &raquo; Muodosta edustajatiimille vaalirengas kirjoittamalla sähköpostiviesti vaalit@hyy.fi.
    </p>
  <% end %>
<% else %>
  <p>
    Edustajatiimin muodostamiseksi ilmoita sähköpostitse HYYn vaaliorganisaatiolle seuraavat tiedot:
    <ul>
      <li>
        Edustajatiimin nimi (voi olla sama kuin vaalirenkaan nimi)
      </li>
      <li>
        Edustajatiimin jäsenten nimi, sähköpostiosoite ja opiskelijanumero.
        Jos vaaliliiton edustajalla on jo edustajatunnus, riittää ilmoittaa pelkkä nimi.
      </li>
    </ul>
  </p>
<% end %>

<% if @team_alliances.any? %>
  <%= render partial: "alliance_table", locals: { alliances: @team_alliances } %>
<% end %>

<% if @alliances_without_coalition.any? %>
  <h2>Vaaliliitot ilman vaalirengasta</h2>

  <%= render partial: "alliance_table", locals: { alliances: @alliances_without_coalition } %>
<% end %>

<% if can? :create, ElectoralAlliance %>
  <p>
    &raquo; <%= link_to "Luo uusi vaaliliitto", new_advocates_alliance_path %>
  </p>
<% end %>

<h3>Ehdokasasettelu päättyy <%= friendly_datetime(GlobalConfiguration.candidate_nomination_ends_at) %></h3>
  <ul>
    <li>
      Edustaja vastaa siitä, että vaaliliiton kaikki ehdokkaat ovat järjestelmässä ehdokasasettelun
      päättymiseen mennessä.
    </li>
    <li>
      Ehdokasasettelun päättymisen jälkeen tietoihin voi tehdä korjauksia ehdokasilmoituksen
      perumisen määräaikaan saakka.
    </li>
    <li>
      Ehdokastietojen korjausten, järjestyksen ja peruutusten määräaika:
      <%= friendly_datetime(GlobalConfiguration.candidate_data_is_freezed_at) %>
    </li>
  </ul>
</p>

<hr>

<h3>Ehdokasnumeroinnista:</h3>
  <ul>
    <li>
      Ehdokasnumerot määräytyvät vaaliliiton sisällä ehdokkaiden järjestyksen mukaan.
    </li>

    <li>
      Ehdokkaiden järjestys on <strong>aina</strong> vaaliliiton edustajan vastuulla.
      <br>
      Uudet ehdokasilmoittautumiset eivät asetu valmiiksi esimerkiksi aakkosjärjestykseen,
      <br>
      koska ei ole takeita, onko aakkosjärjestys vaaliliiton ehdokkaiden toivottu järjestys.
    </li>


    <li>
      Tarkista ehdokkaiden järjestys ehdokasasettelun päättymisen jälkeen ennen
      korjausten määräaikaa
      <%= friendly_datetime(GlobalConfiguration.candidate_data_is_freezed_at) %>.
    </li>

    <li>
      Perutut ehdokasilmoittautumiset eivät vaikuta ehdokasnumerointiin.
    </li>
  </ul>

<h3>Vaalirenkaista:</h3>
  <ul>
    <li>
      Vaalirenkaan edustajan on ilmoitettava vaaliliittojen haluttu järjestys
      sähköpostilla vaalit@hyy.fi.
    </li>

    <li>
      Ehdokasnumerot määräytyvät vaalirenkaan sisällä vaaliliittojen järjestyksen mukaan.
    </li>

    <li>
      Keskusvaalilautakunta arpoo vaalirenkaiden keskinäisen järjestyksen, kun ehdokasnumeot jaetaan.
    </li>
  </ul>

<h3>CSV-tiedoston tuominen Exceliin (ISO-Latin):</h3>
  <ol>
    <li>Avaa CSV-tiedosto Exceliin.</li>
    <li>Valitse ja mustaa koko sarake 'A'.</li>
    <li>Valitse: Tiedot > Teksti sarakkeisiin</li>
    <li>Valitse: Tiedostolaji: Erotettu > Seuraava.</li>
    <li>Valitse: Erottimet: Pilkku > Valmis.</li>
  </ol>

<p>
  Jos CSV-tiedoston ääkköset näkyvät väärin ISO-Latin-merkistökoodauksella,
  kokeile UTF-8-versiota.
</p>
