<h1><%= t(".heading") %></h1>

<p>
  <%= t(".intro") %>
</p>

<% if @advocate_team.present? %>
  <dl>
    <dt><%= t(".team") %></dt>
    <dd><%= @advocate_team.name %></dd>

    <dt><%= t(".team_members") %></dt>
    <dd>
      <%= @advocate_team.advocate_users.map(&:friendly_name).join(", ") %>
    </dd>
  </dl>

  <% if @advocate_team.electoral_coalition.present? %>
    <h2><%= @advocate_team.electoral_coalition.name %></h2>
  <% else %>
    <p>
      &raquo; <%= t(".form_coalition") %>
    </p>
  <% end %>
<% else %>
  <p>
    <%= t(".team_instructions_intro") %>
    <ul>
      <li>
        <%= t(".team_instructions_name") %>
      </li>
      <li>
        <%= t(".team_instructions_members") %>
      </li>
    </ul>
  </p>
<% end %>

<% if @team_alliances.any? %>
  <%= render partial: "alliance_table", locals: { alliances: @team_alliances } %>
<% end %>

<% if @alliances_without_coalition.any? %>
  <h2><%= t(".alliances_without_coalition") %></h2>

  <%= render partial: "alliance_table", locals: { alliances: @alliances_without_coalition } %>
<% end %>

<% if can? :create, ElectoralAlliance %>
  <p>
    &raquo; <%= link_to t(".create_alliance"), new_advocates_alliance_path %>
  </p>
<% end %>

<h3><%= t(".nomination_ends", datetime: friendly_datetime(GlobalConfiguration.candidate_nomination_ends_at)) %></h3>
  <ul>
    <li>
      <%= t(".nomination_note_1") %>
    </li>
    <li>
      <%= t(".nomination_note_2") %>
    </li>
    <li>
      <%= t(".nomination_note_3", datetime: friendly_datetime(GlobalConfiguration.candidate_data_is_freezed_at)) %>
    </li>
  </ul>

<hr>

<h3><%= t(".numbering_heading") %></h3>
  <ul>
    <li>
      <%= t(".numbering_note_1") %>
    </li>

    <li>
      <%= t(".numbering_note_2_html") %>
    </li>

    <li>
      <%= t(".numbering_note_3", datetime: friendly_datetime(GlobalConfiguration.candidate_data_is_freezed_at)) %>
    </li>

    <li>
      <%= t(".numbering_note_4") %>
    </li>
  </ul>

<h3><%= t(".coalitions_heading") %></h3>
  <ul>
    <li>
      <%= t(".coalition_note_1") %>
    </li>

    <li>
      <%= t(".coalition_note_2") %>
    </li>

    <li>
      <%= t(".coalition_note_3") %>
    </li>
  </ul>

<h3><%= t(".csv_heading") %></h3>
  <ol>
    <li><%= t(".csv_step_1") %></li>
    <li><%= t(".csv_step_2") %></li>
    <li><%= t(".csv_step_3") %></li>
    <li><%= t(".csv_step_4") %></li>
    <li><%= t(".csv_step_5") %></li>
  </ol>

<p>
  <%= t(".csv_encoding_note") %>
</p>
