<p>
  &larr; <%= link_to t(".back"), advocates_alliances_path %>
</p>


<%= semantic_form_for @alliance, :url => advocates_alliances_path(@alliance) do |f| %>

  <%= render :partial => "form", :locals => { :alliance => @alliance, :f => f } %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :button, :label => t(".save") %>
  <% end %>
<% end %>
