<h1><%= @alliance.name %></h1>

Ehdokkaita: <%= @alliance.candidates.count %> / <%= @alliance.expected_candidate_count %>

<br>
<%= link_to "Muokkaa vaaliliiton tietoja", edit_advocates_alliance_path(@alliance) %>
<br>
<%= link_to "Luo ehdokas", new_advocates_alliance_candidate_path(@alliance) %>

<h2>Ehdokkaat:</h2>

<%= render :partial => "advocates/candidates/list", :locals => { :candidates => @alliance.candidates, :scope => "advocates" } %>
