<% @_nav_paths << {@alliance.name => false} %>


<h1>[<%= @alliance.shorten %>] <%= @alliance.name %></h1>

<ul>
  <li>
    <%= t(".invite_code_html", code: @alliance.invite_code) %>
  </li>

  <li>
    <%= t(".accepted_count") %>
    <%= @alliance.accepted_candidates.count %>
    /
    <%= @alliance.expected_candidate_count ? @alliance.expected_candidate_count : '-' %>
  </li>

  <li>
    <%= t(".incoming_count", count: @alliance.incoming_candidates.count) %>
  </li>

  <% if can? :update, ElectoralAlliance %>
    <li><%= link_to t(".edit_link"), edit_advocates_alliance_path(@alliance) %></li>
  <% else %>
    <li><%= t(".nomination_ended") %></li>
  <% end %>
</ul>

<h2><%= t(".instructions_heading") %></h2>
<ul>
  <li>
    <%= t(".instruction_1") %>
  </li>
  <li>
    <%= t(".instruction_2") %>
  </li>
  <li>
    <%= t(".instruction_3_html") %>
  </li>
</ul>

<% if @alliance.candidates.any? %>
  <%= render partial: "advocates/candidates/list",
    locals: {
      alliance: @alliance,
      scope: "advocates"
    }
  %>
<% else %>
  <p>
    <%= t(".no_candidates") %>
  </p>
<% end %>
