<% @_nav_paths << {@alliance.name => false} %>


<h1>[<%= @alliance.shorten %>] <%= @alliance.name %></h1>

<ul>
  <li>Ehdokkaita: <%= @alliance.candidates.count %> / <%= @alliance.expected_candidate_count %></li>
  <% if can? :create, Candidate %>
    <li><%= link_to "Muokkaa vaaliliiton tietoja", edit_advocates_alliance_path(@alliance) %></li>
    <li><%= link_to "Luo ehdokas", new_advocates_alliance_candidate_path(@alliance) %></li>
  <% else %>
    <li>Ehdokasasettelu on päättynyt eikä uusia ehdokkaita voi enää luoda.</li>
  <% end %>
  <li>Voit käyttää selaimen zoom-toimintoa (ctrl+ tai cmd+), jos teksti on liian pientä.</li>
</ul>

<% if @alliance.candidates.any? %>
  <%= render :partial => "advocates/candidates/list", :locals => { :candidates => @alliance.candidates, :scope => "advocates" } %>
<% else %>
  <p>
    Vaaliliitossa ei vielä ole yhtään ehdokasta.
  </p>
<% end %>