<% @_nav_paths << {@alliance.name => false} %>


<h1><%= @alliance.name %></h1>

<ul>
  <li>Ehdokkaita: <%= @alliance.candidates.count %> / <%= @alliance.expected_candidate_count %></li>
  <li><%= link_to "Muokkaa vaaliliiton tietoja", edit_advocates_alliance_path(@alliance) %></li>
  <li><%= link_to "Luo ehdokas", new_advocates_alliance_candidate_path(@alliance) %></li>
</ul>

<%= render :partial => "advocates/candidates/list", :locals => { :candidates => @alliance.candidates, :scope => "advocates" } %>
