<%# Inline-virheet jostain syystä räjähtää. :/
  # "f.semantic_errors :name" sanoo
  # undefined method `errors' for nil:NilClass
  # enkä keksi miksi.
%>

<% if @voter_search.errors.any? %>
    <div class="alert error">
        <h2>Täsmennä hakuehtoja:</h2>
        <ul>
            <% @voter_search.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= f.input :name,
            :label => "Nimi",
            :hint  => "Haetaan muodossa: Lipponen Mari Elisabeth" %>

<%= f.input :ssn,
            :label => "Hetu / syntymäaika (SSN)",
            :hint  => "123456 tai 123456-789A" %>

<%= f.input :student_number,
            :hint => "123456789" %>

<%= f.action :submit,
             :as    => :button,
             :label => "Suorita haku" %>
