<%# Inline-virheet räjähtää jos sanoo
  # "f.semantic_errors :name"
  # --> pitää laittaa @name
%>

<% if @voter_search.errors.any? %>
    <div class="alert alert-error">
        <h3>Täsmennä hakuehtoja:</h3>
        <ul>
            <% @voter_search.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<br style="clear:both;">

<%= f.input :ssn,
            :label => "Hetu (SSN)",
            :hint  => "123456 tai 123456-789A" %>

<%= f.input :name,
            :label => "Nimi",
            :hint  => "Sukunimi Etunimet" %>

<%= f.input :student_number,
            :label => "Opisk.nro",
            :hint => "01234567" %>


<%= f.action :submit,
             :as          => :button,
             :button_html => { :class => "btn btn-primary" },
             :label       => "Hae äänioikeutettua" %>

<br style="clear:both;">
