&laquo; <%= link_to "Palaa etusivulle", voting_voters_path %>

<h1>Äänioikeuden tarkistaminen</h1>

<%= semantic_form_for :voter_search, :method => :get, :url => search_voting_voters_path do |f| %>

    <%= render :partial => "search_form", :locals => { :f => f } %>

<% end %>

<br style="clear:both;">

<% if @voters.any? %>

    <h1>Hakutulokset (<%= @voters.count %>)</h1>

    <table class="listing">
        <thead>
        <th>Äänioikeus käytetty?</th>
        <th>Nimi</th>
        <th>Henkilöturvatunnus</th>
        <th>Opiskelijanumero</th>
        <th>Laitos</th>
        <th>Äänestänyt alueella</th>
        </thead>

        <tbody>

        <% @voters.each do |v| %>

            <tr class="<%= cycle('odd', 'even') %>">
                <td>
                    <% if v.can_vote? %>
                        <%= link_to "Saa äänestää", edit_voting_voter_path(v) %>
                    <% else %>
                        <%= friendly_datetime(v.voted_at) %>
                    <% end %>
                </td>
                <td><%= v.name %></td>
                <td><%= v.ssn %></td>
                <td><%= v.student_number %></td>
                <td><%= v.faculty.name %></td>
                <td>
                    <% if v.has_voted? %>
                        <%= v.voting_area.name %> (<%= v.voting_area.code %>)
                    <% end %>
                </td>
            </tr>

        <% end %>

        </tbody>
    </table>

<% elsif @voter_search.valid? %>
    <h1>Hakuehdoilla ei löytynyt ketään</h1>

    <p>
        Tarkista vielä seuraavat:
        <ul>
            <li>Opiskelijakortin voimassaolotarra.</li>
            <li>Hakuehdoissa ei ole kirjoitusvirhettä.</li>
            <li>Jos nimessä on esim. aksenttimerkki tai jos käytit montaa hakutermiä,
                yritä hakea pelkällä hetulla tai opiskelijanumerolla.</li>
        </ul>
    </p>

    <p>
        Jos henkilöllä on esittää luotettava todistus jäsenmaksun maksamisesta, voit lisätä uuden henkilön
        järjestelmään.

    </p>

    <p>
        &raquo; <%= link_to "Luo uusi äänioikeutettu", new_voting_voter_path %>
    </p>

<% end %>
